<section class="content-header">
    <div>
        <label id="medicaoPressaoTitleLabel">Medição de Pressão Arterial</label>
        <label id="medicaoPressaoTitleLabel2">Realize a medição, preencha os campos com os resultados e confirme utilizando a leitura biométrica</label>
    </div>
</section>
<section class="content">
    <div class="container" id="sucesso">
        <h4 id="sucessoMedicaoTitle">Medição Realizada com Sucesso</h4>
        <a>
            <button mat-button id="retornoCidadaoButton" (click)='goToView()'><label id="retornoCidadaoButtonLabel">RETORNAR AO PERFIL DO CIDADÃO</label></button></a>
    </div>
</section>