.login-box-body{
  text-align: center;

  width: 368px;
  height: auto;
  padding: 20px;

  background: #FFFFFF;
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.form-control{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  width: 328px;
  height: 56px;

  margin-bottom: 5%;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 3px;
}

.form-group input:focus, .form-group input:active{
  border: 2px solid #747474;
}

.olho{
  cursor: pointer;
}

.checkbox{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  align-items: center;
  text-align: right;

  color:#747474;

  align-self: center;
  margin: 10px 0px;
}

.btn{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  text-transform: uppercase;

  color: #FFFFFF;

  background: #245E33;

  width: 326px;
  height: 34px;
  margin-top: 7%;
  margin-bottom: 5%;
  padding: 10px 140px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

a.linkLogin:link, a.linkLogin:visited{

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: rgba(73, 71, 71, 0.6);

  align-self: center;
  margin-bottom: 10px;
}

.borda{
  border: 1px solid #245E33;
}
