<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<div class='content'>
    <!-- /.login-logo -->
    <mat-card id="material-card">
        <mat-card-content>
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="Email" type="email" id="emailLabel">
                <!-- <span class="glyphicon glyphicon-envelope form-control-feedback"></span> -->
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" placeholder="Senha" type="password" id="senhaLabel">
                <!--                 <i class="fa fa-eye"></i>
 --></div>

            <div id='checkboxRemember' style="margin-left: 10px;">
                <mat-checkbox><label id="checkboxLabel">Manter-me conectado</label></mat-checkbox>
            </div>
            <!-- /.col -->
            <button [routerLink]="'/inicio'" class="mat-button" id="loginButton">ENTRAR</button>
            <!-- /.col -->
        </mat-card-content>

        <mat-card-footer>
            <!-- /.social-auth-links -->
            <a href="#" id="forgotPassword">Esqueceu sua senha?</a><br>
        </mat-card-footer>
    </mat-card>

    <!-- /.login-box-body -->

    <!-- /.login-box -->
</div>
