#menuLateral {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F4F7F4;
    height: 100%;
}

li {
    margin-left: 2px;
    margin-top: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: grey;
}

li :hover,
span :hover,
.main-sidebar li :hover {
    background-color: #BEE3C8;
    color: #37804B;
}

a :hover {
    background-color: transparent;
}

#suporteDiv {
    position: absolute;
    bottom: 25px;
    left: 20%;
    width: 40%;
}

#suporteButton {
    background-color: #37804B;
    width: 129px;
    border-radius: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    /* Inside Auto Layout */
    align-self: center;
    left: 8px;
    outline: none;
    border: none;
}

#suporteButtonPequeno {
    background-color: none;
    border: none;
    border-radius: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    color: #37804B;
    /* Inside Auto Layout */
    align-self: center;
    left: 8px;
}

.active-list-item span {
    color: #234323 !important;
}

li span {
    margin-left: 10%;
    width: 100px;
}

.sidebar-toggle {
    width: 180px;
}
