<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" id='menuLateral'>
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <nav>
    <div class='pull-left image' id="logolateral">

    </div>

    <!-- Sidebar user panel -->
    <!-- <div class="user-panel">
      <div class="pull-left image">
        <img alt="User Image" class="img-circle" src="assets/dist/img/user2-160x160.jpg">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div> -->
    <!-- search form -->
    <!-- <form action="#" class="sidebar-form" method="get">
      <div class="input-group">
        <input class="form-control" name="q" placeholder="Search..." type="text">
        <span class="input-group-btn">
                <button class="btn btn-flat" id="search-btn" name="search" type="submit"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form> -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->

    <ul class="sidebar-menu" data-widget="tree">

      <li id="inicio">
        <a routerLink="/inicio">
          <img src="assets/dist/img/home.png">&nbsp;&nbsp;
          <span>Início</span>
        </a>
      </li>
      <li id='cidadaos'>
        <a routerLink="/cidadaos">
          <img src="assets/dist/img/user.png">&nbsp;&nbsp;
          <span>Cidadãos</span>
        </a>
      </li>
      <li id='medicao'>
        <a routerLink="/medicao">
          <img src="assets/dist/img/green_heart.png">&nbsp;&nbsp;
          <span>Medição</span>
        </a>
      </li>
      <li id='dispensacao'>
        <a routerLink="/dispensacao">
          <img src="assets/dist/img/green_check.png">&nbsp;&nbsp;
          <span>Dispensação</span>
        </a>
      </li>
      <li>
        <a class="sidebar-toggle" data-toggle="push-menu" href="#" role="button">
          <img src="assets/dist/img/logo.png" class="img-circle">
          <span class="sr-only">Toggle navigation</span>
          <!-- <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> -->
        </a>
      </li>
    </ul>
  </nav>
  </section>
  <!-- /.sidebar -->
</aside>
