<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" id='menuLateral'>
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <nav>
            <a class="sidebar-toggle" data-toggle="push-menu" href="#" role="button" style="margin-left: 35%;" *ngIf="ativo" (click)="ativo = !ativo">
                <img src="assets/dist/img/logo.png" class="img-circle">
                <span class="sr-only">Toggle navigation</span>

            </a>
            <a class="sidebar-toggle" data-toggle="push-menu" href="#" role="button" style="margin-left: 5px;" *ngIf="!ativo" (click)="ativo = !ativo">
                <img src="assets/dist/img/logo.png" class="img-circle">
                <span class="sr-only">Toggle navigation</span>
            </a>


            <ul class="sidebar-menu" data-widget="tree">

                <li style="margin-top: 35%;">
                    <a routerLink="/inicio">
                        <img src="assets/dist/img/home.png">&nbsp;&nbsp;
                        <span>Início</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/cidadaos">
                        <img src="assets/dist/img/user.png">&nbsp;&nbsp;
                        <span>Cidadãos</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/medicao">
                        <img src="assets/dist/img/green_heart.png">&nbsp;&nbsp;
                        <span>Medição</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dispensacao">
                        <img src="assets/dist/img/green_check.png">&nbsp;&nbsp;
                        <span>Dispensação</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/medicamentos">
                        <img src="assets/dist/img/green_check.png">&nbsp;&nbsp;
                        <span>Medicamentos</span>
                    </a>
                </li>



            </ul>
            <div id="suporteDiv">
                <a routerLink="/inicio">
                    <button id="suporteButton" *ngIf="ativo" (click)="ativo = !ativo">SUPORTE</button>
                </a>
            </div>
        </nav>
    </section>
    <!-- /.sidebar -->
</aside>
