<header class="main-header">
    <!-- Logo -->
    <!-- <a class="logo" href="#">
    <span class="logo-mini"><b></b></span>
    <span class="logo-lg"><b></b></span>
  </a> -->
    <!-- Header Navbar: style can be found in header.less  class="navbar navbar-static-top" -->
    <nav>
        <!-- Sidebar toggle button-->


        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu  shadow p-3 mb-5 bg-white rounded" id="dropdownIcon" style="border-top-left-radius:10px; border-bottom-left-radius:10px">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="width: 49px;">
                        <mat-icon [ngStyle]="{'color':'rgba(35, 67, 35, 0.38)'}">email</mat-icon>
                        <!--                         <span class="label label-success">4</span>
 --></a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <img alt="User Image" class="img-circle" src="assets/dist/img/user2-160x160.jpg">
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>

                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu shadow p-3 mb-5 bg-white rounded" id="dropdownIcon" style="border-top-right-radius:10px; border-bottom-right-radius:10px">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="width: 49px;">
                        <mat-icon [ngStyle]="{'color':'rgba(35, 67, 35, 0.38)'}">notifications</mat-icon>
                        <!--                         <span class="label label-warning">10</span>
 --></a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu shadow p-3 mb-5 bg-white rounded">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img alt="User Image" class="user-image" src="assets/dist/img/user2-160x160.jpg" style="margin-left: -10px;">
                        <span class="hidden-xs" style="margin-top: -12px;">Maria Andrade</span>
                        <span id="role" style="margin-bottom: 14px;">Atendente</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img alt="User Image" class="img-circle" src="assets/dist/img/user2-160x160.jpg">

                            <p>
                                Maria Andrade - Atendente
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a class="btn btn-default btn-flat" href="#">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default btn-flat" href="#">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!-- <li>
          <a data-toggle="control-sidebar" href="#"><i class="fa fa-gears"></i></a>
        </li> -->
            </ul>
        </div>
    </nav>
</header>
