.main-header {
    font-family: Poppins;
}

#dropdownIcon {
    background-color: #F4F7F4;
    border: none;
    height: 44px;
    width: 49px;
    margin-top: 16px;
}

li :hover,
a :hover,
.dropdown-toggle :hover,
#dropdownIcon :hover,
.navbar-nav :hover {
    background: none;
}

.user-menu :hover {
    background: none;
}

.notifications-menu {
    margin-right: 30px;
}

.navbar-custom-menu {
    margin-right: 2.5%;
}

#role {
    font-family: Roboto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(35, 67, 35, 0.5);
    display: inline-block;
}

.hidden-md {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: -5px;
}

.user-menu {
    margin-top: 16px;
    background: #F4F7F4;
    border-radius: 10px;
    /* Inside Auto Layout */
    height: 44px;
    display: inline-block;
    width: 194px;
}

mat-icon {
    margin-top: -5px;
}

#modalText {
    position: static;
    left: 0%;
    right: 0%;
    top: 50%;
    bottom: 0%;
    /* Body 1 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    margin: 0px 8px;
}

#simbutton {
    display: inline-block;
    flex-direction: row;
    height: 36px;
    width: 57px;
    padding: 10px 16px;
    left: 52%;
    top: 0%;
    bottom: 0%;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 1px solid #245E33;
    margin-left: 4%;
}

#simlabel {
    margin-bottom: 10px;
    width: 25px;
    height: 16px;
    left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#naobutton {
    display: inline-block;
    flex-direction: row;
    height: 36px;
    width: 57px;
    padding: 10px 16px;
    left: 45%;
    top: 0%;
    bottom: 0%;
    /* 700 */
    background: #FFFFFF;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

#naolabel {
    margin-bottom: 10px;
    width: 25px;
    height: 16px;
    left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    /* 700 */
    color: #245E33;
}

#titleModal {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}

.modal-sm {
    top: 30%;
}

.modal-md {
    top: 30%;
}

#buttons-modal {
    margin-left: 67%;
}