<header class="main-header">
    <!-- Logo -->
    <!-- <a class="logo" href="#">
    <span class="logo-mini"><b></b></span>
    <span class="logo-lg"><b></b></span>
  </a> -->
    <!-- Header Navbar: style can be found in header.less  class="navbar navbar-static-top" -->
    <nav>
        <!-- Sidebar toggle button-->


        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">
                <li>

                </li>
                <!-- Messages: style can be found in dropdown.less-->
                <li *ngIf="user.role !== 'Médico'" class="dropdown messages-menu shadow-lg p-3 mb-5 bg-white rounded" id="dropdownIcon" style="border-top-left-radius:10px; border-bottom-left-radius:10px">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="width: 49px;">
                        <mat-icon [ngStyle]="{'color':'rgba(35, 67, 35, 0.38)'}">email</mat-icon>
                        <!--                         <span class="label label-success">4</span>
 --></a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 4 messages</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <img alt="User Image" class="img-circle" src="assets/dist/img/user2-160x160.jpg" *ngIf="user.role === 'Admin'">
                                            <img alt="User Image" class="img-circle" src="assets/dist/img/user7-128x128.jpg" *ngIf="user.role === 'User'">

                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#">See All Messages</a></li>
                    </ul>
                </li>

                <!-- Notifications: style can be found in dropdown.less -->
                <li *ngIf="user.role !== 'Médico'" class="dropdown notifications-menu shadow-lg p-3 mb-5 bg-white rounded" id="dropdownIcon" style="border-top-right-radius:10px; border-bottom-right-radius:10px">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="width: 49px;">
                        <mat-icon [ngStyle]="{'color':'rgba(35, 67, 35, 0.38)'}">notifications</mat-icon>
                        <!--                         <span class="label label-warning">10</span>
 --></a>
                    <ul class="dropdown-menu">
                        <li class="header">You have 10 notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu shadow-lg p-3 mb-5 bg-white rounded">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" *ngIf="user.role !== 'Médico'">
                        <img alt="User Image" class="user-image" src="assets/dist/img/user2-160x160.jpg" style="margin-left: -10px;" *ngIf="user.role === 'Admin'">
                        <img alt="User Image" class="user-image" src="assets/dist/img/user7-128x128.jpg" style="margin-left: -10px;" *ngIf="user.role === 'User'">

                        <span class="hidden-md" style="margin-top: -12px;">{{user.firstName}} {{user.lastName}}<small *ngIf="user.role !== 'Médico'"><i class="fa fa-angle-down pull-right" style="color: grey; padding-left: 25px;" ></i></small></span>
                        <span id="role" style="margin-bottom: 14px;">{{user.role}}</span> <span *ngIf="user.role === 'Médico'" id="role" style="margin-bottom: 14px;">| CRM {{user.crm}}</span>

                    </a>
                    <a class="dropdown-toggle" data-toggle="modal" data-target="#logoutmodal" *ngIf="user.role === 'Médico'">
                        <img alt="User Image" class="user-image" src="assets/dist/img/user2-160x160.jpg" style="margin-left: -10px;" *ngIf="user.role === 'Admin'">
                        <img alt="User Image" class="user-image" src="assets/dist/img/user7-128x128.jpg" style="margin-left: -10px;" *ngIf="user.role === 'User'">

                        <span class="hidden-md" style="margin-top: -12px;">{{user.firstName}} {{user.lastName}}<small *ngIf="user.role !== 'Médico'"><i class="fa fa-angle-down pull-right" style="color: grey; padding-left: 25px;" ></i></small></span>
                        <span id="role" style="margin-bottom: 14px;">{{user.role}}</span> <span *ngIf="user.role === 'Médico'" id="role" style="margin-bottom: 14px;">| CRM {{user.crm}}</span>

                    </a>

                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img alt="User Image" class="img-circle" src="assets/dist/img/user2-160x160.jpg" *ngIf="user.role === 'Admin'">
                            <img alt="User Image" class="img-circle" src="assets/dist/img/user7-128x128.jpg" *ngIf="user.role === 'User'">
                            <p>
                                {{user.firstName}} {{user.lastName}} - {{user.role}}
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a class="btn btn-default btn-flat" href="#">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a class="btn btn-default btn-flat" routerLink="/">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!-- <li>
          <a data-toggle="control-sidebar" href="#"><i class="fa fa-gears"></i></a>
        </li> -->
            </ul>
        </div>
    </nav>
</header>
<div class="modal fade" id="logoutmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="titleModal">Fazer Logout</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label id="modalText">Deseja sair do sistema?</label>

            </div>
            <div class="modal-footer">
                <button mat-button id="naobutton" data-dismiss="modal"><label id="naolabel">NÃO</label></button>
                <button mat-button id="simbutton" routerLink="/medico" data-dismiss="modal"><label id="simlabel">SIM</label></button>
            </div>
        </div>
    </div>
</div>