#labelCidadaos {
    position: absolute;
    width: 576px;
    height: 60px;
    top: 77px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

#labelVisualize {
  @media (max-width:280px){
    margin-top: 5%;
  }
    position: absolute;
    width: 706px;
    height: 19px;
    top: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

#novoCidadaoButton {
    @media (max-width: 319px){
      margin-top: 4%;
      margin-right: 39%;
    }
    @media (min-width:320px) and (max-width:359px) and (orientation: portrait){
      margin-top: 3%;
      margin-right: 47%;
    }
    @media (min-width:360px) and (max-width:410px) and (orientation: portrait){
      margin-right: 52%;
      margin-top: 3%;
    }
    @media (min-width:411px) and (max-width:413px) and (orientation: portrait){
      margin-top: 3%;
      margin-right: 55%;
    }
    @media (min-width:414px) and (max-width:539px) and (orientation: portrait){
      margin-top: 4%;
      margin-right: 58%;
    }
    @media (min-width:540px) and (max-width:767px) and (orientation: portrait){
      margin-top: 3%;
      margin-right: 66%;
    }
    @media (min-width:768px) and (max-width:768px) and (orientation: portrait){
      margin-top: 2%;
      margin-right: 46%;
    }
    @media (min-width:568px) and (max-width:568px) and (orientation: landscape){
      margin-right: -12%;
    }
    @media (min-width:812px) and (max-width:822px) and (orientation: landscape){
      margin-right: -8%;
    }
    @media (min-width:823px) and (max-width:1023px) and (orientation: landscape){
      margin-right: -6%;
    }

    position: absolute;
    display: flex;
    padding: 10px 16px;
    width: 143px;
    height: 34px;
    right: 2.5%;
    margin-top: -45px;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#novoCidadaoImg {
    position: relative;
    bottom: 11px;
    /* Inside Auto Layout */
    margin: 8px 0px;
}

#novoCidadaoLabel {
    position: relative;
    width: 87px;
    height: 14px;
    left: 8px;
    bottom: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 8px 0px;
}

.content{
  @media (min-width:360px) and (max-width:360px) and (orientation: portrait){
    margin-top: 45%;
  }
  @media (min-width:640px) and (orientation: landscape){
    margin-left: -49%;
  }
}

.content,
.content-header {
    margin-left: 2%;
}

.content {
    margin-top: 8%;
}

//cpfrgtoggle
#cpfrgtoggle {
    @media (min-width:360px) and (max-width:360px) and (orientation: portrait){
      margin-top: 25%;
    }
    border: 1px solid #dfdfdf;
    width: 96px;
    margin-right: 16px;
    display: inline-block;
    top: 20px;
}

#search-cpf-rg{
  @media (min-width:320px) and (max-width:359px) and (orientation: portrait){
    margin-top: 10%;
  }
  @media (min-width:360px) and (max-width:410px) and (orientation: portrait){
    margin-top: 7%;
  }
  @media (min-width:411px) and (max-width:413px) and (orientation: portrait){
    margin-top: 9%;
  }
  @media (min-width:414px) and (max-width:414px) and (orientation: portrait){
    margin-top: 6%;
  }
}

#search-nome{
  @media (min-width:320px) and (max-width:359px) and (orientation: portrait){
    margin-top: 10%;
  }
  @media (min-width:360px) and (max-width:410px) and (orientation: portrait){
    margin-top: 7%;
  }
  @media (min-width:411px) and (max-width:413px) and (orientation: portrait){
    margin-top: 8%;
  }
  @media (min-width:414px) and (max-width:414px) and (orientation: portrait){
    margin-top: 8%;
  }
}

#nomenatoggle {
    border: 1px solid #dfdfdf;
    width: 170px;
    margin-right: 16px;
    display: inline-block;
    top: 20px;
}

#togglebutton {
    // background-color: white;
    display: inline-block;
}

.mat-button-toggle-checked {
    color: #009728;
    // background-color: pink;
}

.search-bar {
    @media (max-width:280px){
      margin-top: 8%;
      font-size: 80%;
    }
    display: inline-block;
}

// search bar
#searchBox {
    @media (max-width:280px){
      width: 288px;
    }
    background: #ffffff;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    width: 328px;
    font-family: "Roboto";
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
}

#searchBoxNome {
    background: #ffffff;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    width: 328px;
    font-family: "Roboto";
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
}

#searchboxtoggle {
    @media (max-width:280px){
      margin-top: 53%;
      margin-left: 0%;
    }
    @media (min-width:320px) and (max-width:359px) and (orientation: portrait){
      margin-top: 34%;
      margin-left: -1%;
    }
    @media (min-width:360px) and (max-width:374px) and (orientation: portrait){
      margin-left: -1%;
    }
    @media (min-width:375px) and (max-width:410px) and (orientation: portrait){
      margin-top: 26%;
      margin-left: 1%;
    }
    @media (min-width:411px) and (max-width:413px) and (orientation: portrait){
      margin-top: 17%;
      margin-left: 1%;
    }
    @media (min-width:414px) and (max-width:539px) and (orientation: portrait){
      margin-top: 17%;
      margin-left: -1%;
    }
    @media (min-width:540px) and (max-width:767px) and (orientation: portrait){
      margin-top: 11%;
      margin-left: 0%;
    }
    @media (min-width:768px) and (max-width:1023px) and (orientation: portrait){
      margin-top: 20%;
      margin-left: -1%;
    }
    @media (min-width:1024px) and (max-width:1024px) and (orientation: portrait){
      margin-top: 12%;
      margin-left: 0%;
    }
    @media (min-width:568px) and (orientation: landscape){
      margin-left: 0%;
    }
    @media (min-width: 1400px) {
        margin-top: 5%;
    }
    margin-left: 35%;
}

#searchboxtoggleNome {
    @media (max-width:319px){
      margin-left: 0.5% !important;
      margin-top: 20% !important;
    }
    @media (min-width:320px) and (max-width:359px) and (orientation: portrait){
      margin-left: -1% !important;
      margin-top: 17% !important;
    }
    @media (min-width:360px) and (max-width:410px) and (orientation: portrait){
      margin-top: 15% !important;
      margin-left: -1% !important;
    }
    @media (min-width:411px) and (max-width:413px) and (orientation: portrait){
      margin-top: 17% !important;
      margin-left: 1% !important;
    }
    @media (min-width:414px) and (max-width:539px) and (orientation: portrait){
      margin-left: -1.5% !important;
      margin-top: 16% !important;
    }
    @media (min-width:540px) and (max-width:767px) and (orientation: portrait){
      margin-left: -0.5% !important;
      margin-top: 12% !important;
    }
    @media (min-width:768px) and (max-width:768px) and (orientation: portrait){
      margin-left: -0.5% !important;
    margin-top: 11% !important;
    }
    @media (min-width:1024px) and (max-width:1024px) and (orientation: portrait){
      margin-left: -1% !important;
    }
    @media (min-width:568px) and (orientation: landscape){
      margin-left: 0% !important;
    }
    @media (min-width: 1400px) {
        margin-top: 2%;
    }
    margin-left: 35%;
}

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    height: 20px;
    color: #9dbfaf;
}

.searchTerm :focus {
    border: 1px solid #828282;
}

.searchTermNome {
    width: 100%;
    border-right: none;
    padding: 5px;
    height: 20px;
    color: #9dbfaf;
}

.searchTermNome :focus {
    border: 1px solid #828282;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: none;
    border-style: none;
    background: none;
    text-align: center;
    color: grey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    margin-top: 1px;
    margin-left: -40px;
}

.searchButtonNome {
    width: 40px;
    height: 40px;
    border: none;
    border-style: none;
    background: none;
    text-align: center;
    color: grey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    margin-top: 1px;
    margin-left: -40px;
}

table {
    width: 98%;
}

#tabela {
  @media (min-width:568px) and (orientation: landscape){
    margin-left: 0%;
  }
    left: 322px;
    margin-top: 20px;
}

#cidadaoNaoEncontrado {
    background-color: #F5F5F5;
    width: 98%;
    margin-top: 2%;
}

#naoEncontradoTitulo {
    width: 50%;
    height: 72px;
    margin-left: 25%;
    top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    /* identical to box height */
    color: #000000;
    @media (max-width: 1534px) {
        font-size: 42px;
    }
    @media (max-width: 1374px) {
        font-size: 38px;
    }
}

#tenteNovamente {
    width: 50%;
    height: 23px;
    margin-left: 25%;
    top: 92px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    // @media (max-width: 1534px) {
    //     width: 60%;
    //     margin-left: 20%;
    // }
    // @media (min-width: 1594px) {
    //     width: 60%;
    //     margin-left: 24%;
    // }
}

#novoCidadaoButtonError {
    align-self: center;
    margin-left: 47%;
    padding: 10px 16px;
    width: 143px;
    height: 34px;
    right: 2.5%;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#infoButton {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    left: 90%;
}
