#labelCidadaos {
    /* Cidadãos */
    position: relative;
    width: 576px;
    height: 60px;
    left: 30px;
    top: 57px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

#labelVisualize {
    /* Visualize e busque cidadãos cadastrados no sistema */
    position: relative;
    width: 706px;
    height: 19px;
    left: 30px;
    top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

#novoCidadaoButton {
    position: absolute;
    display: flex;
    padding: 10px 16px;
    width: 143px;
    height: 34px;
    right: 2.5%;
    margin-top: 80px;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#novoCidadaoImg {
    position: relative;
    bottom: 11px;
    /* Inside Auto Layout */
    margin: 8px 0px;
}

#novoCidadaoLabel {
    position: relative;
    width: 87px;
    height: 14px;
    left: 8px;
    bottom: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 8px 0px;
}

#cpfrgtoggle {
    border: 1px solid #dfdfdf;
}

#togglebutton {
    background-color: white;
    color: black;
}

// search bar
#searchBox {
    background: #ffffff;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    width: 328px;
    font-family: "Roboto";
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: #00b4cc;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #DFDFDF;
    background: white;
    text-align: center;
    color: grey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#searchButton {
    top: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
}

#busca {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 1400px) {
        left: 55%;
    }
    @media (max-width: 1024px) {
        left: 45%;
    }
}

table {
    width: 98%;
}

#tabela {
    left: 322px;
    margin-top: 20px;
}

.content,
.content-head {
    margin-left: 2.5%;
}
