#labelCidadaos {
    position: absolute;
    width: 576px;
    height: 60px;
    top: 77px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

#labelVisualize {
    position: absolute;
    width: 706px;
    height: 19px;
    top: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

#novoCidadaoButton {
    position: absolute;
    display: flex;
    padding: 10px 16px;
    width: 143px;
    height: 34px;
    right: 2.5%;
    margin-top: -45px;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#novoCidadaoImg {
    position: relative;
    bottom: 11px;
    /* Inside Auto Layout */
    margin: 8px 0px;
}

#novoCidadaoLabel {
    position: relative;
    width: 87px;
    height: 14px;
    left: 8px;
    bottom: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 8px 0px;
}

.content,
.content-header {
    margin-left: 2%;
}

.content {
    margin-top: 8%;
}

//cpfrgtoggle
#cpfrgtoggle {
    border: 1px solid #dfdfdf;
    width: 96px;
    margin-right: 16px;
    display: inline-block;
    top: 20px;
}

#togglebutton {
    // background-color: white;
    color: black;
    display: inline-block;
}

.mat-button-toggle-checked {
    background-color: #009728;
    // background-color: pink;
}

.search-bar {
    display: inline-block;
}

// search bar
#searchBox {
    background: #ffffff;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    width: 328px;
    font-family: "Roboto";
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
}

#searchboxtoggle {
    @media (max-width: 1400px) {
        margin-top: 5%;
    }
    margin-left: 35%;
}

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    height: 20px;
    color: #9dbfaf;
}

.searchTerm :focus {
    border: 1px solid #828282;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: none;
    border-style: none;
    background: none;
    text-align: center;
    color: grey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    margin-top: 1px;
    margin-left: -40px;
}

table {
    width: 98%;
}

#tabela {
    left: 322px;
    margin-top: 20px;
}