#labelNome {
    /* Cidadãos */
    display: inline-block;
    width: fit-content;
    height: 60px;
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    align-items: center;
    color: #000000;
    flex: none;
}

#labelVisualize {
    /* Visualize e busque cidadãos cadastrados no sistema */
    display: inline-block;
    width: fit-content;
    height: 19px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

.inputRD {
    float: left;
    border: none;
    padding: 10px;
    width: 200px;
}

.inputAdjust {
    border: 1px solid #CCC;
    height: 35px;
    width: 440px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 99%;
    min-height: 253px;
    height: wrap-content;
    left: 0px;
    top: 50px;
    background: #F2F2F2;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
}

.box-default {
    outline: none;
    box-shadow: none;
    border: none;
}

#medicaoTitleLabel {
    position: static;
    width: 100%;
    height: 30px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 10px;
}

#finalizarButton {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    width: 155px;
    height: 34px;
    position: absolute;
    right: 2.5%;
    margin-top: 100px;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#retornoCidadaoButtonLabel {
    position: absolute;
    width: 118px;
    height: 14px;
    left: 16px;
    bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}

#finalizarButtonBlocked {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    width: 155px;
    height: 34px;
    position: absolute;
    right: 2.5%;
    margin-top: 100px;
    /* 700 */
    background: #E0E0E0;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.example-radio-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
    margin: 3px;
}

#inputNome {
    margin-top: 1.5%;
    bottom: 0%;
    background: #FFFFFF;
    height: 56px;
    font-family: 'Roboto';
    width: 100%;
    box-sizing: border-box;
}

#inputNascimento {
    background: #FFFFFF;
    width: 100%;
    margin-top: 3%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}