<section class="content-header" *ngIf="cidadao$ | async">
  <div id="divtitle">
    <label id="labelNome">{{ oNossoCidadao.nome }}</label>
    <div id="divcpf">
      <label id="labelCpf"
        ><img src="assets/dist/img/cpf_cadastrado.png" />&nbsp;&nbsp;&nbsp;{{
          showingCpf
        }}</label
      >
    </div>
    <label id="labelVisualize"
      >Escreva aqui o relatório dado por {{ oNossoCidadao.nome }}</label
    >
  </div>
  <!-- <div id="searchboxtoggle" class="row">

        <mat-button-toggle-group id="cpfrgtoggle">
            <mat-button-toggle value="cpf" id="togglebutton">
                CPF
            </mat-button-toggle>
            <mat-button-toggle value="rg" id="togglebutton">
                RG
            </mat-button-toggle>
        </mat-button-toggle-group>
        <div class="search-bar">
            <input type="text" class="searchTerm" placeholder="Buscar cidadão..." (keydown.enter)="searchToView()" id="searchBox" [(ngModel)]="buscado">
            <button type="submit" class="searchButton" id="searchButton" placeholder="" (click)="searchToView()">
<i class="fa fa-search"></i> </button>
        </div>
    </div> -->
</section>
<section class="content" *ngIf="cidadao$ | async">
  <div class="container">
    <div class="box box-default" id="infoBox">
      <div class="box-header with-border">
        <h3 class="box-title" id="labelInformacoes">Informações</h3>
        <div class="box-tools pull-right">
          <button
            class="btn btn-box-tool"
            data-widget="collapse"
            (click)="isCollapsed = !isCollapsed"
          >
            <i class="fa fa-angle-down"></i>
          </button>
        </div>
      </div>

      <!-- /.box-tools -->

      <!-- /.box-header -->
      <div class="box-body" *ngIf="isCollapsed">
        <div
          class="box box-default"
          id="infoBoxPessoal"
          *ngIf="cidadao$ | async"
        >
          <label id="pessoaisLabel">Pessoais</label>
          <div class="row">
            <div class="col-md-4">
              <label id="dadoLabel">NOME</label>
              <label id="dadoResult">{{ oNossoCidadao.nome }}</label>
              <label id="dadoLabel">CPF</label>
              <label id="dadoResult">{{ showingCpf }}</label>
              <label id="dadoLabel">GÊNERO</label>
              <label id="dadoResult">{{
                oNossoCidadao.dadosPessoais.genero
              }}</label>
            </div>
            <div class="col-md-4">
              <label id="dadoLabel">DATA DE NASCIMENTO</label>
              <label id="dadoResult">{{ oNossoCidadao.dataNascimento }}</label>
              <label id="dadoLabel">RG</label>
              <label id="dadoResult">{{ oNossoCidadao.rg }}</label>
            </div>
            <div class="col-md-4">
              <label id="dadoLabel">TELEFONE</label>
              <label id="dadoResult">{{ showingPhone }}</label>
              <label id="dadoLabel">E-MAIL</label>
              <label id="dadoResult">{{
                oNossoCidadao.dadosPessoais.email
              }}</label>
            </div>
          </div>
        </div>
        <div class="box box-default" id="infoBoxEstaticas">
          <label id="estaticasLabel">Endereço</label>
          <div class="row">
            <div class="col-md-4">
              <label id="dadoLabel">CEP</label>
              <label id="dadoResult">{{ showingCep }}</label>
              <label id="dadoLabel">ESTADO</label>
              <label id="dadoResult">{{
                oNossoCidadao.dadosPessoais.endereco.estado
              }}</label>
            </div>
            <div class="col-md-4">
              <label id="dadoLabel">ENDEREÇO</label>
              <label id="dadoResult"
                >{{ oNossoCidadao.dadosPessoais.endereco.rua }},
                {{ oNossoCidadao.dadosPessoais.endereco.numero }}</label
              >
              <label id="dadoLabel">COMPLEMENTO</label>
              <label id="dadoResult">{{
                oNossoCidadao.dadosPessoais.endereco.complemento
              }}</label>
            </div>
            <div class="col-md-4">
              <label id="dadoLabel">CIDADE</label>
              <label id="dadoResult">{{
                oNossoCidadao.dadosPessoais.endereco.cidade
              }}</label>
            </div>
          </div>
        </div>
        <div class="box box-default" id="infoBoxEstaticas">
          <label id="estaticasLabel">Estáticas</label>
          <div class="row">
            <div class="col-md-4">
              <label id="dadoLabel">ALTURA</label>
              <label id="dadoResult"
                >{{ oNossoCidadao.indicadorRiscoHAS.altura }} m</label
              >
              <label id="dadoLabel">DOENÇA RENAL CRÔNICA</label>
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaRenalCronica === 1"
                >Não</label
              >
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaRenalCronica === 2"
                >Sim</label
              >
              <label id="dadoLabel">HISTÓRICO DE AVC</label>
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoAvc === 2"
                >Sim</label
              >
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoAvc === 1"
                >Não</label
              >
            </div>
            <div class="col-md-4">
              <label id="dadoLabel">DIABETES</label>
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 1"
                >Não</label
              >
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 2"
                >Tipo 1</label
              >
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 3"
                >Tipo 2</label
              >
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 4"
                >Diabetes Gestante</label
              >

              <label id="dadoLabel">INSUFICIÊNCIA CARDÍACA</label>
              <label
                id="dadoResult"
                *ngIf="
                  oNossoCidadao.indicadorRiscoHAS.insuficienciaCardiaca === 2
                "
                >Sim</label
              >
              <label
                id="dadoResult"
                *ngIf="
                  oNossoCidadao.indicadorRiscoHAS.insuficienciaCardiaca === 1
                "
                >Não</label
              >
              <label id="dadoLabel"
                >DOENÇA ARTERIAL OBSTRUTIVA PERIFÉRICA</label
              >
              <label
                id="dadoResult"
                *ngIf="
                  oNossoCidadao.indicadorRiscoHAS
                    .doencaArterialObstrutivaPeriferica === 2
                "
                >Sim</label
              >
              <label
                id="dadoResult"
                *ngIf="
                  oNossoCidadao.indicadorRiscoHAS
                    .doencaArterialObstrutivaPeriferica === 1
                "
                >Não</label
              >
              <label
                id="dadoResult"
                *ngIf="
                  oNossoCidadao.indicadorRiscoHAS
                    .doencaArterialObstrutivaPeriferica === 0
                "
                >Não Informado</label
              >
            </div>
            <div class="col-md-4">
              <label id="dadoLabel">FUMANTE</label>
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.fumante === 1"
                >Não fumante</label
              >
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.fumante === 2"
                >Fumante</label
              >
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.fumante === 3"
                >Ex-fumante</label
              >

              <label id="dadoLabel">HISTÓRICO DE INFARTO</label>
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoInfarto === 2"
                >Sim</label
              >
              <label
                id="dadoResult"
                *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoInfarto === 1"
                >Não</label
              >

              <label id="dadoLabel">RETINOPATIA HIPERTENSIVA</label>
              <label
                id="dadoResult"
                *ngIf="
                  oNossoCidadao.indicadorRiscoHAS.retinopatiaHipertensiva === 2
                "
                >Sim</label
              >
              <label
                id="dadoResult"
                *ngIf="
                  oNossoCidadao.indicadorRiscoHAS.retinopatiaHipertensiva === 1
                "
                >Não</label
              >
              <label
                id="dadoResult"
                *ngIf="
                  oNossoCidadao.indicadorRiscoHAS.retinopatiaHipertensiva === 0
                "
                >Não Informado</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box box-default" id="medicaoBox">
      <div>
        <label id="medicaoTitleLabel">Relatório </label>
      </div>
      <div id="tabela"  *ngIf="cidadao$ | async">
        <p>
          <mat-form-field mat-form-field style="margin-left: 3%; width: 94%" class="example-full-width">
            <textarea matInput style="width: 100%;" rows="15" [(ngModel)]="relatorio" placeholder="Digite aqui o relatório..."></textarea>
          </mat-form-field>
        </p>
      </div>
    </div>
  </div>
  
            <button mat-button id="finalizarButton" data-toggle="modal" data-target="#okcidadao" (click)="CadastraRelatorio()" *ngIf="relatorio"><label id="retornoCidadaoButtonLabel">FINALIZAR RELATÓRIO</label></button>
        <!--*ngIf=peso -->
        <button mat-button id="finalizarButtonBlocked" *ngIf="!relatorio"><label id="retornoCidadaoButtonLabel">FINALIZAR RELATÓRIO</label></button>
    <div class="modal fade" id="okcidadao" *ngIf="valid && !errorBye">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="titleModal">Sucesso!</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <label id="modalText">Cidadão com CPF {{cpf}} teve um relatório adicionado!</label>
                    <button mat-button id="okbutton" data-dismiss="modal" (click)="goToView()"><label id="oklabel">OK</label></button>
                </div>
            </div>
        </div>
    </div>
</section>
