// #emailLabel {
//   left: 0%;
//   right: 0%;
//   top: 0px;
//   bottom: 17px;
//   height: 39px;
//   background: #FFFFFF;
//   box-sizing: border-box;
//   border-radius: 3px;
// }

// #recoverButton{
//   display: flex;
//     flex-direction: row;
//     padding: 10px 140px;
//     position: relative;
//     width: 326px;
//     height: 34px;
//     right: 5px;
//     top: 48px;
//     /* 700 */
//     background: #245E33;
//     /* Button Shadow */
//     border-radius: 4px;
//     /* Inside Auto Layout */
//     outline: none;
//     border: none;
//     flex: none;
//     order: 0;
//     align-self: center;
//     margin: 0px 10px;

//     line-height: 14px;
//     /* identical to box height */
//     text-transform: uppercase;
//     color: #FFFFFF;
// }
// #recoverLabel{
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 12px;
//   position: relative;
//   margin-top: -11%;
//   margin-left: -20%;
// }

#loginButton {
  display: flex;
  flex-direction: row;
  padding: 11px 115px;
  position: relative;
  width: 326px;
  height: 34px;
  right: 5px;
  top: 20px;
  /* 700 */
  background: #245E33;
  /* Button Shadow */
  border-radius: 4px;
  /* Inside Auto Layout */
  outline: none;
  border: none;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
  @media (max-width:320px) and (orientation:portrait){
    margin-left: 10%;
    width: 81%;
    padding: 7px 70px;

  }
}

#entrarLabel {
  position: relative;
  width: 46px;
  height: 14px;
  left: 0px;
  bottom: 10px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}

#material-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 368px;
  height: 635px;
  background: #FFFFFF;
  /* 9dp */
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  @media (max-width:320px) and (orientation:portrait){
    width: 82%;
    margin-top: 16%;
    height: 128%;
  }
}

#labelForgotPw{
  text-align: center;
  font-size: 125%;
  font-weight: 300;
  margin-left: 26%;
  @media (max-width:320px) and (orientation:portrait){
    margin-left: 16%;
    margin-top: 9%;
  }
}

#senhaLabel {
  left: 0%;
  right: 0%;
  top: 54px;
  bottom: 17px;
  height: 56px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
}

#emailLabel {
  left: 0%;
  right: 0%;
  top: 0px;
  bottom: 17px;
  height: 56px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
}

#nomeLabel {
  left: 0%;
  right: 0%;
  top: 0px;
  bottom: 17px;
  height: 56px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
}

#pwLabel {
  left: 0%;
  right: 0%;
  top: 0px;
  bottom: 17px;
  height: 56px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
}

#crmLabel {
  left: 0%;
  right: 0%;
  top: 0px;
  bottom: 17px;
  height: 56px;
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 3px;
}

#forgotPassword {
  position: relative;
  width: 154px;
  height: 19px;
  left: 156px;
  top: 34px;
  /* Subtitle 1 */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  /* Ênfase Média */
  color: rgba(0, 0, 0, 0.6);
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 10px;
  @media (max-width:320px) and (orientation:portrait){
    margin-left: -17%;
  }
}

#contactSupport{
  position: relative;
  width: 251px;
  height: 19px;
  left: 54px;
  top: 65px;
  /* Subtitle 1 */
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  /* Ênfase Média */
  color: rgba(0, 0, 0, 0.6);
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  margin: 0px 10px;
  @media (max-width:320px) and (orientation:portrait){
    margin-left: -16%;
  }
}

#checkboxRemember {
  text-align: center;
}

#checkboxLabel {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  /* Ênfase Média */
  color: red;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate {
  background-color: #245E33 !important;
}

input.form-control:focus {
  border: 1px solid #828282;
}

.content {
  background-color: #F4F7F4;
  width: 100%;
  height: 100vh;
}

#errorLabel {
  font-size: 12px;
  margin-left: 2%;
  height: 13px;
  color: red;
  font-family: 'Roboto';
}

.modalOptin {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  min-width: 320px;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 811;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 810;
}

#optinButton{
  padding: 0px 17px;
  position: relative;
  width: 21%;
  height: 34px;
  right: 5px;
  top: 20px;
  background: #245E33;
  /* Button Shadow */
  border-radius: 4px;
  /* Inside Auto Layout */
  outline: none;
  border: none;
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
}

