<div class='content'>
  <!-- /.login-logo -->
  <mat-card id="material-card">
    <div class="modalOptin" *ngIf="hideModal">
      <h1>Alteração de senha</h1>
    <p>
      Senha alterada com sucesso!
    </p>
    <button class="btn-primario" id="optinButton" routerLink='/login'>OK</button>
    </div>
    <div class="overlay" *ngIf="hideModal"></div>
      <mat-card-content>
        <form #frm='ngForm' (ngSubmit) = 'onAlterarSenha(frm)'>
          <label id="labelForgotPw">Esqueceu sua senha?</label>
          <div class="form-group has-feedback">
              <input class="form-control" placeholder="Digite seu nome" type="text" id="nomeLabel" style="margin-top: 12%;" (keyup.enter)="onAlterarSenha()" [(ngModel)]="dados.nome" name="nome" required>
              <label id="errorLabel" *ngIf="input_nome"> Digite um valor válido </label>
              <input class="form-control" placeholder="Digite seu crm" type="text" id="crmLabel" style="margin-top: 10%;" (keyup.enter)="onAlterarSenha()" [(ngModel)]="dados.crm" name="crm" required>
              <label id="errorLabel" *ngIf="input_crm"> Digite um valor válido </label>
              <input class="form-control" placeholder="Digite sua nova senha" type="password" id="pwLabel" style="margin-top: 10%;" (keyup.enter)="onAlterarSenha()" [(ngModel)]="dados.new_pw" name="new_pw" required>
              <label id="errorLabel" *ngIf="input_pw"> Digite um valor válido </label>
              <input class="form-control" placeholder="Digite seu email" type="email" id="emailLabel" style="margin-top: 10%;" (keyup.enter)="onAlterarSenha()" [(ngModel)]="dados.email" name="email" required>
              <label id="errorLabel" *ngIf="input_email"> Digite um valor válido </label>
          </div>
          <button class="mat-button" id="loginButton" type="submit" [disabled]='frm.invalid'>Alterar senha</button>
        </form>
      </mat-card-content>
      <mat-card-footer>
          <a href="#" routerLink='' id="forgotPassword">Voltar</a><br>
          <label id="contactSupport">caso não saiba seu código/CRM e e-mail, contate o administrador do sistema</label><br>
      </mat-card-footer>
  </mat-card>
</div>
<!-- <section>
  <div class="container">
    <mat-card id="material-card" style="margin: 20%;">
      <mat-card-content>
        <label style="font-size: 125%;font-weight: 350;margin-left: 38%;">Esqueceu sua senha?</label>
    <div class="container">
    <div class="row">
      <div class="col" style="margin-top: 6%; margin-left: 34%;width: 39%;position: absolute;">
      <input class="form-control" type="email" id="emailLabel" placeholder="Digite seu email">
      </div>
      <div class="col">
        <button class="mat-button" id="recoverButton" routerLink='recuperar-senha' style="position: initial;padding: 2% 19%;margin-left: 28%;margin-top: 19%;">
          <label id="recoverLabel">Recuperar Senha</label></button>
      </div>
    </div>
    </div>
      </mat-card-content>
    </mat-card>
  </div>
</section> -->
