#divtitle {
    display: inline-block;
    margin-top: 1%;
    margin-left: 1%;
}

.content-header {
    margin-left: 2%;
}

.content {
    margin-left: 2%;
    width: 97%;
}

.content-header {
    top: 3%;
}

.container {
    width: 100%;
}

.box-default {
    outline: none;
    box-shadow: none;
    border: none;
}

.mat-tab-label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #37804B;
}

.mat-tab-label.mat-tab-label-active {
    background: linear-gradient(0deg, rgba(55, 128, 75, 0.12), rgba(55, 128, 75, 0.12)), #FFFFFF;
}

#returnButton {
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 4px;
    width: 117px;
    height: 36px;
    margin-left: 3%;
    margin-top: 1%;
}

#returnButtonLabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 110px;
}

#infoBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 99%;
    left: 0px;
    top: 25px;
    background: #F2F2F2;
    border-radius: 4px;
    /* Inside Auto Layout */
}

#labelInformacoes {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 10px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

#labelNome {
    /* Cidadãos */
    display: inline-block;
    width: fit-content;
    height: 60px;
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    align-items: center;
    color: #000000;
    flex: none;
}

#divcpf {
    display: inline-block;
    width: 196px;
    height: 50px;
    margin-left: 16px;
    background: #F2F2F2;
    border-radius: 10px;
    /* Inside Auto Layout */
    flex: none;
}

#labelCpf {
    /* Heading 6 */
    width: 196px;
    height: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.6;
    /* Inside Auto Layout */
    align-self: center;
}

#labelVisualize {
    /* Visualize e busque cidadãos cadastrados no sistema */
    display: inline-block;
    width: fit-content;
    height: 19px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

table {
    width: 97.5%;
    margin-bottom: 10px;
}

#tabelaBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    width: 1128px;
    height: 404px;
    left: 0px;
    top: 140px;
    background: #F2F2F2;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    align-self: center;
    margin: 0px 40px;
}

#box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 99%;
    min-height: 253px;
    height: wrap-content;
    left: 0px;
    top: 50px;
    background: #F2F2F2;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
}

#dadoLabel {
    width: 100%;
    /* Overline */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

#dadoResult {
    width: 100%;
    top: 141px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    color: #000000;
    margin-left: 2%;
}

#medicaoBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 99%;
    min-height: 235px;
    height: wrap-content;
    top: 50px;
    background: #F5F5F5;
    border-radius: 4px;
    /* Inside Auto Layout */
}

#medicaoTitleLabel {
    position: static;
    width: 100%;
    height: 30px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 10px;
}

table {
    width: 99%;
    margin-left: 10px;
}

.mat-table {
    border: none;
}

td.mat-cell {
    border-bottom-style: none;
}

th.mat-header-cell {
    border-bottom-style: none;
}

.mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
}

#dataRealizacaoLabel {
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#dataRealizacaoResult {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#servicoLabel {
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
}

#servicoResult {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
}

#responsavelLabel {
    width: 30%;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
}

#responsavelResult {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
}

#infoButton {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    left: 90%;
}

#simbutton {
    display: inline-block;
    flex-direction: row;
    height: 36px;
    width: 57px;
    padding: 10px 16px;
    left: 52%;
    top: 0%;
    bottom: 0%;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 16px 0px;
}

#simlabel {
    margin-bottom: 20px;
    width: 25px;
    height: 16px;
    left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
}

#naobutton {
    display: inline-block;
    flex-direction: row;
    height: 36px;
    width: 57px;
    padding: 10px 16px;
    left: 45%;
    top: 0%;
    bottom: 0%;
    /* 700 */
    background: #FFFFFF;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 16px 0px;
}

#naolabel {
    margin-bottom: 20px;
    width: 29px;
    height: 16px;
    left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    /* 700 */
    color: #245E33;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
}

#buttons-modal {
    margin-left: 82%;
    @media (max-width: 1500px) {
        margin-left: 72%;
    }
}

::ng-deep .cdk-overlay-container {
    z-index: 9999;
}

#labelBackground {
    margin-top: 1%;
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
    padding-left: 10px;
}