<button id="returnButton" routerLink="/medico/visualizar" *ngIf="!isMobile"><label id="returnButtonLabel"><i class="fa fa-arrow-left" style="margin-right: 3%;"></i>VOLTAR</label></button>

<section class="content-header" *ngIf="(cidadao$ | async) && !isMobile">

    <div id="divtitle">

        <label id="labelNome">{{oNossoCidadao.nome}}</label>
        <div id="divcpf"><label id="labelCpf"><img src="assets/dist/img/cpf_cadastrado.png">&nbsp;&nbsp;&nbsp;{{showingCpf}}</label></div>
        <label id="labelVisualize">Visualize o relatório deste cidadão.</label>

    </div>
    <button id="returnButton" *ngIf="!isMobile" class="pull-right" style="margin-left: none; margin-right: 2%; margin-top: 2%;" data-toggle="modal" data-target="#printReport"><label id="returnButtonLabel"><i class="fa fa-print" style="margin-right: 3%;"></i>Imprimir</label></button>

</section>
<section class="content" *ngIf="!isMobile">
    <div class="box box-default" id="infoBox" #infoBox>
        <div class="box-header with-border">

            <h3 class="box-title" id="labelInformacoes">Informações do Cidadão
            </h3>
            <div class="box-tools pull-right">

                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-angle-down"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="box box-default" id="infoBoxPessoal" *ngIf="cidadao$ | async">
                <label id="pessoaisLabel">Pessoais</label>
                <div class="row">
                    <div class="col-md-4">
                        <label id="dadoLabel">NOME</label>
                        <label id="dadoResult">{{oNossoCidadao.nome}}</label>
                        <label id="dadoLabel">CPF</label>
                        <label id="dadoResult">{{showingCpf}}</label>
                        <label id="dadoLabel">GÊNERO</label>
                        <label id="dadoResult">{{oNossoCidadao.dadosPessoais.genero}}</label>
                    </div>
                    <div class="col-md-4">
                        <label id="dadoLabel">DATA DE NASCIMENTO</label>
                        <label id="dadoResult">{{oNossoCidadao.dataNascimento}}</label>
                        <label id="dadoLabel">RG</label>
                        <label id="dadoResult">{{oNossoCidadao.rg}}</label>
                    </div>
                    <div class="col-md-4">
                        <label id="dadoLabel">TELEFONE</label>
                        <label id="dadoResult">{{showingPhone}}</label>
                        <label id="dadoLabel">E-MAIL</label>
                        <label id="dadoResult">{{oNossoCidadao.dadosPessoais.email}}</label>

                    </div>
                </div>
            </div>
            <div class="box box-default" id="infoBoxEstaticas">

                <label id="estaticasLabel">Endereço</label>
                <div class="row">
                    <div class="col-md-4">
                        <label id="dadoLabel">CEP</label>
                        <label id="dadoResult">{{showingCep}}</label>
                        <label id="dadoLabel">ESTADO</label>
                        <label id="dadoResult">{{oNossoCidadao.dadosPessoais.endereco.estado}}</label>
                    </div>
                    <div class="col-md-4">
                        <label id="dadoLabel">ENDEREÇO</label>
                        <label id="dadoResult">{{oNossoCidadao.dadosPessoais.endereco.rua}}, {{oNossoCidadao.dadosPessoais.endereco.numero}}</label>
                        <label id="dadoLabel">COMPLEMENTO</label>
                        <label id="dadoResult">{{oNossoCidadao.dadosPessoais.endereco.complemento}}</label>
                    </div>
                    <div class="col-md-4">

                        <label id="dadoLabel">CIDADE</label>
                        <label id="dadoResult">{{oNossoCidadao.dadosPessoais.endereco.cidade}}</label>

                    </div>
                </div>
            </div>
            <div class="box box-default" id="infoBoxEstaticas">

                <label id="estaticasLabel">Estáticas</label>
                <div class="row">
                    <div class="col-md-4">
                        <label id="dadoLabel">ALTURA</label>
                        <label id="dadoResult">{{oNossoCidadao.indicadorRiscoHAS.altura}} m</label>
                        <label id="dadoLabel">DOENÇA RENAL CRÔNICA</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaRenalCronica === 1">Não</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaRenalCronica === 2">Sim</label>
                        <label id="dadoLabel">HISTÓRICO DE AVC</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoAvc === 2">Sim</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoAvc === 1">Não</label>
                    </div>
                    <div class="col-md-4">
                        <label id="dadoLabel">DIABETES</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 1">Não</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 2">Tipo 1</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 3">Tipo 2</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 4">Diabetes Gestante</label>

                        <label id="dadoLabel">INSUFICIÊNCIA CARDÍACA</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.insuficienciaCardiaca === 2">Sim</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.insuficienciaCardiaca === 1">Não</label>
                        <label id="dadoLabel">DOENÇA ARTERIAL OBSTRUTIVA PERIFÉRICA</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaArterialObstrutivaPeriferica === 2">Sim</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaArterialObstrutivaPeriferica === 1">Não</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaArterialObstrutivaPeriferica === 0">Não Informado</label>

                    </div>
                    <div class="col-md-4">
                        <label id="dadoLabel">FUMANTE</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.fumante === 1">Não fumante</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.fumante === 2">Fumante</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.fumante === 3">Ex-fumante</label>

                        <label id="dadoLabel">HISTÓRICO DE INFARTO</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoInfarto === 2">Sim</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoInfarto === 1">Não</label>

                        <label id="dadoLabel">RETINOPATIA HIPERTENSIVA</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.retinopatiaHipertensiva === 2">Sim</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.retinopatiaHipertensiva === 1">Não</label>
                        <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.retinopatiaHipertensiva === 0">Não Informado</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-default" id="medicaoBox">
        <div>

            <label id="medicaoTitleLabel">Registros
        </label>
        </div>
        <div id="tabela" *ngIf="(cidadao$ | async)" #infoBox>
            <div id="tabela" *ngIf="(cidadao$ | async)" style="width: 96%;">
                <!-- TABELA-->
                <table id="mobileTable" style=" font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                border-collapse: collapse;
                width: 100%;">
                    <tr style="background-color: #F2F2F2; text-transform: uppercase;
                    " id="mobileTable">
                        <th id='border-right'><img src="assets/dist/img/data_hora.png" style="margin-right: 1%;">Data e Hora</th>
                        <th id="border-left">PAS</th>
                        <th id='border-right'>PAD</th>
                        <th id='border-right'><img src="assets/dist/img/Peso.svg" style="margin-right: 1%;">Peso</th>
                        <th id="border-left"><img src="assets/dist/img/altura.png" style="margin-right: 1%;">Altura</th>
                    </tr>
                    <tr *ngFor="let element of MOBILE_ELEMENT_DATA" id="mobileTable">
                        <td id='border-right'>{{element.dataHora}}</td>
                        <td id="border-left">{{element.sistolica}}</td>
                        <td id='border-right'>{{element.diastolica}}</td>
                        <td id='border-right'>{{element.peso}}</td>
                        <td id="border-left">{{oNossoCidadao.indicadorRiscoHAS.altura}}</td>
                    </tr>
                </table>

            </div>
            <!-- TABELA-->

        </div>
    </div>
</section>

<!-- AQUI COMEÇA O CÓDIGO MOBILE -->

<section class="content-header" *ngIf="(cidadao$ | async) && isMobile && (innerWidth < innerHeight)" style=" position: fixed;
z-index: 100;
background-color: #FFFFFF;
height: 22%;
margin-top: 10%;">
    <button id="returnButton" routerLink="/medico/visualizar" *ngIf="isMobile" style=" margin-left: 2%;"><label id="returnButtonLabel"><i class="fa fa-arrow-left" style="margin-right: 3%;"></i>VOLTAR</label></button>

    <div id="divtitle" style="
    margin-top: 1%;
    margin-left: 1%;">

        <label id="labelNome">{{oNossoCidadao.nome}}</label>
        <label id="labelVisualize">Visualize o relatório deste cidadão.</label>

    </div>
    <button id="downloadPhone" *ngIf="isMobile" class="pull-right" style="margin-left: none; margin-right: 2%; margin-top: 2%;" data-toggle="modal" data-target="#printReportPhone"><img src="/assets/dist/img/white_download.png"></button>

</section>
<section class="content-header" *ngIf="(cidadao$ | async) && isMobile && (innerWidth > innerHeight)" style=" position: fixed;
z-index: 100;
background-color: #FFFFFF;
height: 30%;
margin-top: 8%; width: 100%;">
    <button id="returnButton" routerLink="/medico/visualizar" *ngIf="isMobile" style="margin-top: -5% ;"><label id="returnButtonLabel"><i class="fa fa-arrow-left" style="margin-right: 3%;"></i>VOLTAR</label></button>

    <div id="divtitle" style="
    margin-left: 1%;">

        <label id="labelNome">{{oNossoCidadao.nome}}</label>
        <label id="labelVisualize">Visualize o relatório deste cidadão.</label>

    </div>
    <button id="downloadPhone" *ngIf="isMobile" class="pull-right" style="margin-left: none; margin-right: 2%; margin-top: 2%;" data-toggle="modal" data-target="#printReportPhone"><img src="/assets/dist/img/white_download.png"></button>

</section>
<section class="content" *ngIf="isMobile">
    <div class="box box-default" id="infoBox" style="margin-top: 55%;">
        <div class="box-header with-border">

            <h3 class="box-title" id="labelInformacoes">Informações do Cidadão
            </h3>
            <div class="box-tools pull-right">

                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-angle-down"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="box box-default" id="infoBoxPessoal" *ngIf="cidadao$ | async">
                <mat-tab-group>
                    <mat-tab label="Pessoais" id="tabTitle">
                        <div class="row">
                            <div class="col-xs-6">
                                <label id="dadoLabel">NOME</label>
                                <label id="dadoResult">{{oNossoCidadao.nome}}</label>
                                <label id="dadoLabel">CPF</label>
                                <label id="dadoResult">{{showingCpf}}</label>
                                <label id="dadoLabel">GÊNERO</label>
                                <label id="dadoResult" style="margin-bottom: 2%;">{{oNossoCidadao.dadosPessoais.genero}}</label>
                            </div>
                            <div class="col-xs-6">
                                <label id="dadoLabel">DATA DE NASCIMENTO</label>
                                <label id="dadoResult">{{oNossoCidadao.dataNascimento}}</label>
                                <label id="dadoLabel">RG</label>
                                <label id="dadoResult">{{oNossoCidadao.rg}}</label>
                                <label id="dadoLabel">TELEFONE</label>
                                <label id="dadoResult">{{showingPhone}}</label>
                                <label id="dadoLabel">E-MAIL</label>
                                <label id="dadoResult">{{oNossoCidadao.dadosPessoais.email}}</label>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Endereço">

                        <div class="row">
                            <div class="col-xs-6">
                                <label id="dadoLabel">CEP</label>
                                <label id="dadoResult">{{showingCep}}</label>
                                <label id="dadoLabel">ESTADO</label>
                                <label id="dadoResult" style="margin-bottom: 2%;">{{oNossoCidadao.dadosPessoais.endereco.estado}}</label>
                            </div>
                            <div class="col-xs-6">
                                <label id="dadoLabel">ENDEREÇO</label>
                                <label id="dadoResult">{{oNossoCidadao.dadosPessoais.endereco.rua}}, {{oNossoCidadao.dadosPessoais.endereco.numero}}</label>
                                <label id="dadoLabel">COMPLEMENTO</label>
                                <label id="dadoResult" style="margin-bottom: 2%;">{{oNossoCidadao.dadosPessoais.endereco.complemento}}</label>

                                <label id="dadoLabel">CIDADE</label>
                                <label id="dadoResult">{{oNossoCidadao.dadosPessoais.endereco.cidade}}</label>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Estáticas">
                        <div class="row">
                            <div class="col-xs-6">
                                <label id="dadoLabel">ALTURA</label>
                                <label id="dadoResult">{{oNossoCidadao.indicadorRiscoHAS.altura}} m</label>
                                <label id="dadoLabel">DOENÇA RENAL CRÔNICA</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaRenalCronica === 1">Não</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaRenalCronica === 2">Sim</label>
                                <label id="dadoLabel">HISTÓRICO DE AVC</label>
                                <label id="dadoResult" style="margin-bottom: 2%;" *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoAvc === 2">Sim</label>
                                <label id="dadoResult" style="margin-bottom: 2%;" *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoAvc === 1">Não</label>
                                <label id="dadoLabel">DIABETES</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 1">Não</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 2">Tipo 1</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 3">Tipo 2</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.diabetico === 4">Diabetes Gestante</label>

                                <label id="dadoLabel">FUMANTE</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.fumante === 1">Não fumante</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.fumante === 2">Fumante</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.fumante === 3">Ex-fumante</label>

                            </div>

                            <div class="col-xs-6">

                                <label id="dadoLabel">INSUFICIÊNCIA CARDÍACA</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.insuficienciaCardiaca === 2">Sim</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.insuficienciaCardiaca === 1">Não</label>
                                <label id="dadoLabel">DOENÇA ARTERIAL OBSTRUTIVA PERIFÉRICA</label>
                                <label id="dadoResult" style="margin-bottom: 2%;" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaArterialObstrutivaPeriferica === 2">Sim</label>
                                <label id="dadoResult" style="margin-bottom: 2%;" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaArterialObstrutivaPeriferica === 1">Não</label>
                                <label id="dadoResult" style="margin-bottom: 2%;" *ngIf="oNossoCidadao.indicadorRiscoHAS.doencaArterialObstrutivaPeriferica === 0">Não Informado</label>

                                <label id="dadoLabel">HISTÓRICO DE INFARTO</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoInfarto === 2">Sim</label>
                                <label id="dadoResult" *ngIf="oNossoCidadao.indicadorRiscoHAS.historicoInfarto === 1">Não</label>

                                <label id="dadoLabel">RETINOPATIA HIPERTENSIVA</label>
                                <label id="dadoResult" style="margin-bottom: 2%;" *ngIf="oNossoCidadao.indicadorRiscoHAS.retinopatiaHipertensiva === 2">Sim</label>
                                <label id="dadoResult" style="margin-bottom: 2%;" *ngIf="oNossoCidadao.indicadorRiscoHAS.retinopatiaHipertensiva === 1">Não</label>
                                <label id="dadoResult" style="margin-bottom: 2%;" *ngIf="oNossoCidadao.indicadorRiscoHAS.retinopatiaHipertensiva === 0">Não Informado</label>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>


    <div class="box box-default" id="medicaoBox">
        <div>

            <label id="medicaoTitleLabel">Registros
        </label>
        </div>
        <div id="tabela" *ngIf="(cidadao$ | async)" style="width: 96%;">
            <!-- TABELA-->
            <table id="mobileTable" style=" font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            border-collapse: collapse;
            width: 100%;">
                <tr style="background-color: #F2F2F2; text-transform: uppercase;
                " id="mobileTable">
                    <th id='border-right'><img src="assets/dist/img/data_hora.png" style="margin-right: 1%;">Data e Hora</th>
                    <th id="border-left">PAS</th>
                    <th id='border-right'>PAD</th>
                    <th id='border-right'><img src="assets/dist/img/Peso.svg" style="margin-right: 1%;">Peso</th>
                    <th id="border-left"><img src="assets/dist/img/altura.png" style="margin-right: 1%;">Altura</th>
                </tr>
                <tr *ngFor="let element of MOBILE_ELEMENT_DATA" id="mobileTable">
                    <td id='border-right'>{{element.dataHora}}</td>
                    <td id="border-left">{{element.sistolica}}</td>
                    <td id='border-right'>{{element.diastolica}}</td>
                    <td id='border-right'>{{element.peso}}</td>
                    <td id="border-left">{{oNossoCidadao.indicadorRiscoHAS.altura}}</td>
                </tr>
            </table>

        </div>
    </div>
</section>

<!--print modal-->
<div class="modal fade" id="printReport">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="titleModal">Exportar relatório</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label id="modalText">Baixe ou realize a impressão do relatório deste cidadão.</label>
                <div id="buttons-modal">
                    <button mat-button id="naobutton" data-dismiss="modal" (click)="printAsPDF()"><label id="naolabel">IMPRIMIR</label></button>
                    <button mat-button id="simbutton" data-dismiss="modal" (click)="downloadAsPDF()"><label id="simlabel">BAIXAR</label></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="printReportPhone">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="titleModal">Exportar relatório</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label id="modalText">Baixe ou realize a impressão do relatório deste cidadão.</label>
                <div id="buttons-modal" style="margin-left: -05%;">
                    <button mat-button id="naobutton" data-dismiss="modal"><label id="naolabel">IMPRIMIR</label></button>
                    <button mat-button id="simbutton" data-dismiss="modal" (click)="downloadAsPDF()"><label id="simlabel">BAIXAR</label></button>
                </div>
            </div>
        </div>
    </div>
</div>
