#medicaoPressaoTitleLabel {
    position: absolute;
    width: 566px;
    height: 60px;
    top: 77px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    @media (max-width: 830px) {
        font-size: 33px;
    }
}

#medicaoPressaoTitleLabel2 {
    position: absolute;
    width: 715px;
    height: 19px;
    top: 140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    @media (max-width: 850px) {
        font-size: 14px;
    }
}

.content-header {
    margin-left: 2%;
}

.content {
    margin-left: 1%;
}

.box-default {
    outline: none;
    box-shadow: none;
    border: none;
}

#infoBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 99%;
    top: 155px;
    background: #F2F2F2;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    @media (max-width: 1260px) {
        margin-top: 100px;
    }
}

#labelInformacoes {
    position: absolute;
    width: 692px;
    height: 30px;
    left: 10px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

#infoBoxPessoal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: wrap-content;
    top: 0px;
    background: #FFFFFF;
    border-radius: 3px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
}

#pessoaisLabel {
    position: static;
    width: 130px;
    height: 21px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
}

#dadoLabel {
    width: 100%;
    /* Overline */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    display: flex;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.6;
}

#dadoResult {
    width: 100%;
    top: 141px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    color: #000000;
}

#infoBoxEstaticas {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    min-height: 127px;
    height: wrap-content;
    top: 10px;
    background: #FFFFFF;
    border-radius: 3px;
    /* Inside Auto Layout */
}

#estaticasLabel {
    position: static;
    width: 130px;
    height: 21px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
}

#medicaoBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 99%;
    height: wrap-content;
    top: 150px;
    background: #F5F5F5;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    align-self: center;
}

#medicaoTitleLabel {
    width: 262px;
    height: 21px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    align-items: center;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}

#retornoCidadaoButton {
    padding: 10px 16px;
    position: absolute;
    right: 2.5%;
    width: 227px;
    height: 34px;
    top: 100px;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    @media (max-width: 1260px) {
        top: 200px;
        left: 50%;
    }
}

#retornoCidadaoButtonLabel {
    position: absolute;
    width: 118px;
    height: 14px;
    left: 16px;
    bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}

table {
    width: 100%;
    outline: none;
    border: none;
}

#tabela {
    left: 69px;
    margin-top: 15px;
    outline: none;
    border: none;
}

#editIcon {
    left: 80px;
}

#deleteIcon {
    left: 90%;
}

.container {
    width: 100%;
}

#busca {
    position: fixed;
    left: 20%;
    transform: translate(-50%, -50%);
    @media (max-width: 1400px) {
        left: 5%;
    }
    @media (max-width: 1024px) {
        left: 0%;
    }
}

#deleteButton {
    background: none;
    border-radius: 45px;
    top: -10px;
}

#titlesTables {
    display: flex;
    flex-wrap: nowrap;
}

#numero {
    width: 24px;
    height: 24px;
    border-radius: 18px;
    background-color: #C4C4C4;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    display: inline-block
}

#finalizarButton {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    width: 155px;
    height: 34px;
    position: absolute;
    right: 2.5%;
    margin-top: 190px;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#finalizarButtonBlocked {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    width: 155px;
    height: 34px;
    position: absolute;
    right: 2.5%;
    margin-top: 190px;
    /* 700 */
    background: #E0E0E0;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#novaAfericao {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    position: static;
    width: 158px;
    height: 34px;
    left: 0px;
    top: 110px;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 3;
    align-self: flex-start;
    margin: 0px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    border: none;
}

#afericaobuttonlabel {
    width: 99px;
    height: 19px;
    margin-left: 10px;
    margin-top: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    outline: none;
    border: none;
}

#iconplus {
    margin-bottom: 5px;
}

#pesoinput {
    height: 56px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    border: 0px solid;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 18.5px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
}

#modalText {
    position: static;
    left: 0%;
    right: 0%;
    top: 50%;
    bottom: 0%;
    /* Body 1 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    margin: 0px 8px;
}

#simbutton {
    display: inline-block;
    flex-direction: row;
    height: 36px;
    width: 57px;
    padding: 10px 16px;
    left: 52%;
    top: 0%;
    bottom: 0%;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: center;
    margin: 16px 0px;
}

#simlabel {
    margin-bottom: 20px;
    width: 25px;
    height: 16px;
    left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
}

#naobutton {
    display: inline-block;
    flex-direction: row;
    height: 36px;
    width: 57px;
    padding: 10px 16px;
    left: 45%;
    top: 0%;
    bottom: 0%;
    /* 700 */
    background: #FFFFFF;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 16px 0px;
}

#naolabel {
    margin-bottom: 20px;
    width: 29px;
    height: 16px;
    left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    /* 700 */
    color: #245E33;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
}

#titleModal {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}

#passoum {
    margin-top: 10px;
}

#passodois {
    margin-top: 30px;
}

#passotres {
    margin-top: 30px;
}

.modal-sm {
    top: 30%;
}

.modal-md {
    top: 30%;
}

#errorLabel {
    font-size: 12px;
    margin-left: 2%;
    height: 13px;
    color: red;
    font-family: 'Roboto';
}

.errorInput {
    border: 1px solid red;
    outline: none;
}

::ng-deep .cdk-overlay-container {
    z-index: 9999;
}

#adicionarButtonLabel {
    position: static;
    width: 74px;
    height: 16px;
    left: 16px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}

#adicionarButton {
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
    margin: 16px 0px;
}

#naoAdicionarButtonLabel {
    /* Label */
    position: static;
    width: 72px;
    height: 16px;
    left: 16px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    /* 700 */
    color: #245E33;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}

#naoAdicionarButton {
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 16px 0px;
}

#buttons-modal {
    margin-left: 67%;
}