<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<section class="content-header">
    <div>
        <h3 id="labelBemvindo">Bom dia, Maria!</h3>
        <label id="labelBemvindoo">Bem-vindo de volta ao sistema</label>
    </div>
    <div id="searchboxtoggle" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
        <!-- [(ngModel)]="modelName" multiple vertical="false"-->

        <mat-button-toggle-group id="cpfrgtoggle">
            <mat-button-toggle value="cpf" id="togglebutton">
                CPF
            </mat-button-toggle>
            <mat-button-toggle value="rg" id="togglebutton">
                RG
            </mat-button-toggle>
        </mat-button-toggle-group>

        <input type="text" class="searchTerm" placeholder="Buscar cidadão..." id="searchBox">
        <button type="submit" class="searchButton" id="searchButton">
      <i class="fa fa-search"></i>
    </button>

    </div>

</section>
<!-- Main content -->
<section class="content">
    <div class="container">
        <div id='estatisticas' fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">Estatísticas</div>
        <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">

            <mat-card id="mdc-card1" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
                <mat-card-content>
                    <label id='mdc-card1number'>29</label>
                    <label id='mdc-card1name'>Cidadãos registrados</label>
                    <img src="assets/dist/img/white_user.png" id="mdc-card1img">
                </mat-card-content>
            </mat-card>
            <mat-card id="mdc-card2" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
                <mat-card-content>
                    <label id='mdc-card2number'>15</label>
                    <label id='mdc-card2name'>Medições</label>
                    <img src="assets/dist/img/white_heart.png" id="mdc-card2img">
                </mat-card-content>
            </mat-card>
            <mat-card id="mdc-card3" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
                <mat-card-content>
                    <label id='mdc-card3number'>7</label>
                    <label id='mdc-card3name'>Dispensações</label>
                    <img src="assets/dist/img/white_check.png" id="mdc-card3img">
                </mat-card-content>
            </mat-card>
            <mat-card id="mdc-card4" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
                <mat-card-content>
                    <label id='mdc-card4number'>22</label>
                    <label id='mdc-card4name'>Atendimentos</label>
                    <img src="assets/dist/img/white_check.png" id="mdc-card4img">
                </mat-card-content>
            </mat-card>
        </div>
        <div id="acoesRapidas" fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">Ações rápidas</div>
        <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">

            <!-- AÇÕES -->
            <mat-card id="novaMedicaoDiv" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
                <label id="novaMedicao">Nova Medição</label>
                <!-- NOVA MEDIÇÃO -->
                <button mat-button id="realizarMedicao">
        <label id="realizarMedicaoLabel">REALIZAR</label>
      </button>
            </mat-card>
            <mat-card id="novaDispensacaoDiv" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
                <label id="novaDispensacao">Nova Dispensação</label>
                <!-- NOVA DISPENSAÇÃO -->
                <button mat-button id="realizarDispensacao">
        <label id="realizarDispensacaoLabel">REALIZAR</label>
      </button>
            </mat-card>

        </div>
        <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
            <div id='autorizacoesProximas' fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">Autorizações próximas</div>
        </div>
        <div id="tabela">
            <!-- TABELA-->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
        </div>
    </div>
</section>
<!-- /.content -->
