<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<section class="content-header">
    <div>
        <h3 id="labelBemvindo">Bom dia, Maria!</h3>
        <label id="labelBemvindoo">Bem-vindo de volta ao sistema</label>
    </div>

</section>
<!-- Main content -->
<section class="content">
    <div id="searchboxtoggle" class="row">
        <!-- [(ngModel)]="modelName" multiple vertical="false"-->

        <mat-button-toggle-group id="cpfrgtoggle">
            <mat-button-toggle value="cpf" id="togglebutton">
                CPF
            </mat-button-toggle>
            <mat-button-toggle value="rg" id="togglebutton">
                RG
            </mat-button-toggle>
        </mat-button-toggle-group>
        <div class="search-bar">
            <input type="text" class="searchTerm" placeholder="Buscar cidadão..." (keydown.enter)="goToView()" id="searchBox" [(ngModel)]="buscado" required>
            <button type="submit" class="searchButton" id="searchButton" placeholder="" (click)="goToView()">
<i class="fa fa-search"></i> </button>
        </div>
        <a routerLink="/cidadaos/cadastrar">
            <button mat-button id="novoCidadaoButton" class="pull-right">

      <img src='assets/dist/img/novocidadaologo.png' id="novoCidadaoImg">
      <label id="novoCidadaoLabel">NOVO CIDADÃO</label>

    </button>
        </a>
    </div>
    <div>
        <div id='estatisticas'>Estatísticas</div>
        <div class="row">
            <div class="col-sm-3">
                <mat-card id="mdc-card1">
                    <mat-card-content>
                        <label id='mdc-card1number'>{{cidadaos.length}}</label>
                        <label id='mdc-card1name'>Cidadãos registrados</label>
                        <img src="assets/dist/img/white_user.png" id="mdc-card1img">
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-3">
                <mat-card id="mdc-card2">
                    <mat-card-content>
                        <label id='mdc-card2number'>{{totalMedicoes}}</label>
                        <label id='mdc-card2name'>Medições</label>
                        <img src="assets/dist/img/white_heart.png" id="mdc-card2img">
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-3">
                <mat-card id="mdc-card3">
                    <mat-card-content>
                        <label id='mdc-card3number'>0</label>
                        <label id='mdc-card3name'>Dispensações</label>
                        <img src="assets/dist/img/white_check.png" id="mdc-card3img">
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-3">
                <mat-card id="mdc-card4">
                    <mat-card-content>
                        <label id='mdc-card4number'>22</label>
                        <label id='mdc-card4name'>Atendimentos</label>
                        <img src="assets/dist/img/white_check.png" id="mdc-card4img">
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</section>
<!-- /.content -->