body {
    background-color: white;
    color: white;
}

//cpfrgtoggle
#cpfrgtoggle {
    border: 1px solid #dfdfdf;
    width: 96px;
    margin-right: 16px;
    display: inline-block;
    top: 20px;
}

#togglebutton {
    background-color: white;
    color: black;
    display: inline-block;
}

.search-bar {
    display: inline-block;
}

// search bar
#searchBox {
    background: #ffffff;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    width: 328px;
    font-family: "Roboto";
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
}

#searchboxtoggle {
    @media (max-width: 768px) {
        margin-left: 5%;
        margin-top: 18%;
    }
    @media (max-width: 1050px) {
        margin-left: 15%;
        margin-top: 22%;
    }
    @media (max-width: 1300px) {
        margin-left: 15%;
        margin-top: 12%;
    }
    @media (max-width: 1500px) {
        margin-left: 25%;
        margin-top: 12%;
    }
    margin-left: 35%;
    margin-top: 8%;
}

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    height: 20px;
    color: #9dbfaf;
}

.searchTerm :focus {
    border: 1px solid #828282;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: none;
    border-style: none;
    background: none;
    text-align: center;
    color: grey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    margin-top: 1px;
    margin-left: -40px;
}


/*bem-vindo*/

#labelBemvindo {
    position: absolute;
    width: 315px;
    height: 60px;
    top: 77px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

#labelBemvindoo {
    position: absolute;
    width: 218px;
    height: 19px;
    top: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}


/*estatisticas e cards dos menus*/

#estatisticas {
    position: relative;
    width: 115px;
    height: 30px;
    top: 67px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    color: #000000;
}

mat-card {
    display: inline-block;
}

#mdc-card1 {
    width: 80%;
    height: 119px;
    top: 97px;
    /* a700 */
    display: inline-block;
    background: #009728;
    box-shadow: 0px 6px 10px rgba(55, 128, 75, 0.14);
    border-radius: 10px;
    @media (max-width: 768px) {
        margin-top: 30px;
    }
}

#mdc-card1number {
    position: absolute;
    width: 57px;
    height: 72px;
    left: 10px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

#mdc-card1name {
    position: absolute;
    width: 198px;
    height: 27px;
    left: 10px;
    top: 82px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
}

#mdc-card1img {
    position: absolute;
    right: 20px;
    top: 20px;
}

#mdc-card2 {
    width: 80%;
    height: 119px;
    top: 97px;
    /* a700 */
    display: inline-block;
    background: #009728;
    box-shadow: 0px 6px 10px rgba(55, 128, 75, 0.14);
    border-radius: 10px;
    @media (max-width: 768px) {
        margin-top: 30px;
    }
}

#mdc-card2number {
    position: absolute;
    width: 48px;
    height: 72px;
    left: 14px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

#mdc-card2name {
    position: absolute;
    width: 87px;
    height: 27px;
    left: 10px;
    top: 82px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
}

#mdc-card2img {
    position: absolute;
    right: 20px;
    top: 20px;
}

#mdc-card3 {
    width: 80%;
    height: 119px;
    top: 97px;
    /* a700 */
    display: inline-block;
    background: #009728;
    box-shadow: 0px 6px 10px rgba(55, 128, 75, 0.14);
    border-radius: 10px;
    @media (max-width: 768px) {
        margin-top: 30px;
    }
}

#mdc-card3number {
    position: absolute;
    width: 25px;
    height: 72px;
    left: 26px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

#mdc-card3name {
    position: absolute;
    width: 127px;
    height: 27px;
    left: 10px;
    top: 82px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
}

#mdc-card3img {
    position: absolute;
    right: 20px;
    top: 20px;
}

#mdc-card4 {
    width: 80%;
    height: 119px;
    top: 97px;
    /* a700 */
    display: inline-block;
    background: #009728;
    box-shadow: 0px 6px 10px rgba(55, 128, 75, 0.14);
    border-radius: 10px;
    @media (max-width: 768px) {
        margin-top: 30px;
    }
}

#mdc-card4number {
    position: absolute;
    width: 55px;
    height: 72px;
    left: 11px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

#mdc-card4name {
    position: absolute;
    width: 127px;
    height: 27px;
    left: 10px;
    top: 82px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
}

#mdc-card4img {
    position: absolute;
    right: 20px;
    top: 20px;
}

#autorizacoesProximas {
    position: relative;
    width: 229px;
    height: 30px;
    top: 140px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

table {
    width: 100%;
}

#tabela {
    left: 69px;
    padding-top: 160px;
}

.container {
    width: 100%;
    margin: 0 auto;
}