<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<app-header></app-header>
<section class="content-header">
    <div id="divtitle">
        <label id="labelNome">Relatórios</label>
        <div id="divcpf" *ngIf="!isMobile"><label id="labelCpf"><img src="assets/dist/img/cpf_cadastrado.png">&nbsp;&nbsp;&nbsp;{{medic.crm}}</label></div>
        <label id="labelVisualize">Baixe os relatórios dos cidadãos vinculados ao seu CRM</label>
    </div>
</section>
<section class="content">
    <div id="medicoesBackground" class="row" style="margin-left: 1%; width: 97%; margin-bottom: 2.5%; height: fit-content;" *ngIf="isMobile">
        LEGENDA
        <div class="row" style="margin-left: 2.55%;">
            <img src=" /assets/dist/img/yellow_small_heart.png "> Medições Solicitadas
            <img src=" /assets/dist/img/green_small_heart.png " style="margin-left: 1.5%;"> Medições Realizadas
        </div>
    </div>
    <div class="box box-default" id="box">
        <div id="tabela" *ngIf="!isMobile">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

                <ng-container matColumnDef="cidadao">
                    <th mat-header-cell *matHeaderCellDef> Cidadão </th>
                    <td mat-cell *matCellDef="let element"> {{element.cidadao}} </td>
                </ng-container>

                <ng-container matColumnDef="medicoesSolicitadas">
                    <th mat-header-cell *matHeaderCellDef> Medições Solicitadas </th>
                    <td mat-cell *matCellDef="let element"> {{element.medicoesS}} </td>
                </ng-container>
                <ng-container matColumnDef="medicoesRealizadas">
                    <th mat-header-cell *matHeaderCellDef> Medições Realizadas </th>
                    <td mat-cell *matCellDef="let element"> {{element.medicoesR}} </td>
                </ng-container>
                <ng-container matColumnDef="telefone">
                    <th mat-header-cell *matHeaderCellDef> Telefone 1 </th>
                    <td mat-cell *matCellDef="let element"> {{element.telefone | mask:"(00)00000-0000"}} </td>
                </ng-container>

                <ng-container matColumnDef="telefone2">
                    <th mat-header-cell *matHeaderCellDef> Telefone 2 </th>
                    <td mat-cell *matCellDef="let element"> {{element.telefonesecundario | mask:"(00)00000-0000"}} </td>
                </ng-container>
                <ng-container matColumnDef="download">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> <img src="/assets/dist/img/download.png"> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>
        </div>

        <div id="mobiletabela" *ngIf="isMobile">
            <mat-card *ngFor="let element of ELEMENT_DATA" id="mobileDiv">
                <div class="row">
                    <div class="col-xs-8" style="margin-left: 5%;">
                        <!---->
                        <div class="row">
                            <mat-card-title>
                                {{element.cidadao}}<label id="medicoesBackground" style="width: fit-content; display: inline-block;">
                              <img src=" /assets/dist/img/yellow_small_heart.png ">{{element.medicoesS}}
                              <img src="/assets/dist/img/green_small_heart.png"> {{element.medicoesR}}</label></mat-card-title>
                        </div>
                        <div class="row">
                            <img src="/assets/dist/img/telefone_toca.png " style="width: 5%;margin-right: 2.5%; "><label id="labelText">{{element.telefone | mask:"(00)00000-0000"}}</label>

                        </div>
                        <div class="row">
                            <img src="/assets/dist/img/telefone_toca.png " style="width: 5%;margin-right: 2.5%; "><label id="labelText">{{element.telefonesecundario | mask:"(00)00000-0000"}}</label>

                        </div>
                        <div class="row">
                            <label id="labelText">Última visita:</label>

                        </div>

                    </div>
                    <div class="col-xs-4" style="margin: auto ; position: absolute;
                    top:0;
                    bottom: 0;

                    right: 5%; width: 60px;height: 60px; background: #F2F2F2; border-radius: 8px; padding: 5%;">
                        <!---->
                        <img src="/assets/dist/img/download_phone.png" style="width: 70%; margin-left: 15%;">
                        <!---->
                    </div>
                </div>
            </mat-card>
        </div>

    </div>
    <!-- <div class="box box-default " id="boxTwo ">
        <div class='col-md-2'>
            <div><img src="/assets/dist/img/happy_girl.png "></div>
        </div>
        <div class='col-md-10'>
            <div class="row "><label id="titleText "><strong>Converse com a equipe HASmart!</strong></label></div>
            <div class="row " id="normalText ">Nosso horário de atendimento vai de 9 horas da manhã até as 16 horas da tarde, de segunda à sexta, exceto fins de semana e feriados. Caso prefira, nos envie um e-mail!</div>
            <div class='row'><label id="labelInfo "><img src="/assets/dist/img/carinha.png "> Joana Soares</label> <label id="labelInfo " style="margin-left: 2.5%; "><img src="/assets/dist/img/telefone.png "> (85) 55555-5555</label> <label id="labelInfo
                                " style="margin-left: 2.5%; "><img src="/assets/dist/img/@.png "> equipe@hasmart.com</label></div>
        </div>
    </div> -->
</section>