#hasmart {
    margin-left: 3%;
    padding-top: 1%;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.02em;
    color: #000000;
}
