@import '~sesa-sd-commons/assets/sass/palhetas.scss';
@import '~sesa-sd-commons/assets/sass/variaveis.scss';

.mat-toolbar {
	border-bottom: 2px solid;
	background: linear-gradient(
		to right,
		sesa-color($verde-sesa, 800) 0%,
		sesa-color($verde-sesa, 500) 100%
	) !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.align-inline {
	display: inline-flex;
	vertical-align: middle;
}

.logo {
	display: flex;
	flex-direction: row;
	padding: 0 0.5rem;
	.descktop {
		height: 2.5rem;
	}
	.logo-divider {
		margin: 0 1rem;
		background: #fff;
		height: 40px;
		flex: 1;
	}
}

.menu-button {
	display: none;
}
.menu-shadow {
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 998;
}

.mat-icon-button {
	color: #fff;
}

:host ::ng-deep {
	.mat-toolbar {
		background: linear-gradient(to right, #044208 0, #2e7d32 100%);
		border: none;
		border-radius: 0;
		border-bottom: 2px solid sesa-color($laranja-sesa, 700);
		.pi {
			font-size: 1.5rem;
			color: white;
		}
	}

	.ui-sidebar {
		top: $altura-header;
		height: calc(100vh - #{$altura-header});
		overflow: auto;
	}

	.ui-panelmenu {
		position: fixed;
		left: 0;
		top: 0;
	}
}
