<sesa-sd-container>
  <sesa-sd-titulo>
    <i class="material-icons alinhar-a-esquerda">
      {{ "search" }}
    </i>
    <span class="alinhar-a-esquerda">Lista de pagina</span>
    <button class="btn-principal alinhar-a-direita" mat-flat-button color="primary" (click)="navegarParaCadastro()"
      id="btnNavegarParaCadastro">
      <mat-icon>add</mat-icon> CADASTRAR PAGINA
    </button>
  </sesa-sd-titulo>

  <form [formGroup]="formulario" (submit)="pesquisar()">
    <mat-card>

      <div class="button-bar">
        <button type="button" mat-stroked-button class="btn-secundario" color="accent" (click)="limpar()">
          <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
          LIMPAR
        </button>
        <button class="btn-principal" mat-flat-button color="primary" type="submit" id="btnFiltrar">
          <mat-icon fontSet="fas" fontIcon="fa-search"></mat-icon> PESQUISAR
        </button>
      </div>
    </mat-card>
  </form>

  <sd-tabela [lista]="paginated?.content" *ngIf="paginated?.content?.length" [totalDeItens]="paginated?.count"
    [itensPorPagina]="paginated?.pageSize" [numeroPagina]="paginated?.pageNumber" (alterarPagina)="alterarPagina($event)"
    (alterarOrdem)="alterarOrdem($event)" [ehLazy]="true" [ehPaginado]="true">

    <sd-coluna [valorCabecalho]="''" [atributo]="''">
      <ng-template let-item="item">
        {{ item?.id }}
      </ng-template>
    </sd-coluna>

    <sd-coluna valorCabecalho="Ações" atributo="acoes" [tamanho]="8">
      <ng-template let-item="item">
        <button class="sub-menu" mat-icon-button [matMenuTriggerFor]="menu" id="btnAcoes">
          <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button class="sub-menu" mat-menu-item (click)="editar(item)" id="btnEditar">
            <mat-icon>edit</mat-icon>
            <span>EDITAR</span>
          </button>
          <button class="sub-menu" mat-menu-item (click)="excluir(item)" id="btnExcluir">
            <mat-icon>delete</mat-icon>
            <span>EXCLUIR</span>
          </button>
        </mat-menu>
      </ng-template>
    </sd-coluna>
  </sd-tabela>
</sesa-sd-container>
