.botao-padrao {
	width: 10rem;
}

.texto-dentro-tile {
	position: absolute;
	left: 5px;
}

.sub-menu {
	.fas {
		margin-right: 1rem;
	}

	.far {
		margin-right: 1rem;
	}

	.fa-address-book {
		font-size: 1.2rem;
	}
}

.modal-custom {
	width: 50%;

	.sesa-modal {
		width: 50%;
	}
}
