#titleLabel {
    position: absolute;
    width: 289px;
    height: 60px;
    top: 77px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

#subtitleLabel {
    position: absolute;
    width: 428px;
    height: 19px;
    top: 140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

#boxInformacoes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 98%;
    height: wrap-content;
    top: 127px;
    background: #F2F2F2;
    border-radius: 4px;
    border: none;
}

#informacoesPessoais {
    position: relative;
    width: 223px;
    height: 30px;
    top: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    margin: 0px 10px;
}

#obrigatorio {
    position: relative;
    width: 142px;
    height: 16px;
    /* Subtitle 2 */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.6;
}

#genero {
    margin-left: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
}

.example-radio-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
    margin: 3px;
}

#inputNome {
    margin-left: 2%;
    right: 0%;
    margin-top: 3%;
    bottom: 0%;
    background: #FFFFFF;
    height: 56px;
    font-family: 'Roboto';
    width: 98%;
    box-sizing: border-box;
    display: flex;
}

#inputRua {
    margin-left: 2%;
    right: 0%;
    margin-top: 3%;
    bottom: 0%;
    background: #FFFFFF;
    width: 98%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputCidade {
    margin-left: 2%;
    top: 30px;
    bottom: 0%;
    margin-top: 3%;
    background: #FFFFFF;
    width: 44%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputEstado {
    margin-left: 10%;
    margin-top: 3%;
    bottom: 0%;
    background: #FFFFFF;
    width: 44%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputTelefone {
    margin-left: 10px;
    right: 0%;
    margin-top: 3%;
    bottom: 0%;
    background: #FFFFFF;
    width: 98%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputNascimento {
    margin-left: 5%;
    background: #FFFFFF;
    width: 40%;
    margin-top: 1.5%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputComplemento {
    margin-left: 5%;
    right: 0%;
    margin-top: 1.5%;
    background: #FFFFFF;
    width: 40%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputCpf {
    margin-left: 5%;
    margin-top: 1.5%;
    background: #FFFFFF;
    width: 40%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputRg {
    margin-left: 5%;
    margin-top: 1.5%;
    background: #FFFFFF;
    width: 40%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#boxEstaticas {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 98%;
    height: wrap-content;
    top: 132px;
    background: #F2F2F2;
    border-radius: 4px;
    border: none;
}

#informacoesEstaticasLabel {
    width: 466px;
    height: 30px;
    left: 10px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

#inputAltura {
    margin-top: 10px;
    margin-left: 2%;
    top: 55px;
    min-width: 328px;
    width: 98%;
    height: 56px;
    font-size: 14px;
    font-family: Roboto;
}

#diabetesDrop {
    display: flex;
    margin-top: 10px;
    margin-left: 5%;
    width: 85%;
    height: 56px;
    padding-left: 15px;
    background-color: white;
}

#fumanteDrop {
    display: flex;
    margin-top: 10px;
    width: 85%;
    height: 56px;
    background-color: white;
    padding-left: 15px;
}

#usoPrevioLabel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 98%;
    height: 40px;
    margin-top: 30px;
    margin-left: 2%;
    background: #FFFFFF;
    border-radius: 10px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
}

#avcToggleLabel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 85%;
    height: 40px;
    margin-top: 30px;
    margin-left: 5%;
    background: #FFFFFF;
    border-radius: 10px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
}

#cadastraButton {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    width: 155px;
    height: 34px;
    left: 88%;
    top: 170px;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    @media (max-width: 1200px) {
        left: 45%;
    }
    @media (max-width: 1400px) {
        left: 65%;
    }
    @media (max-width: 1650px) {
        left: 85%;
    }
}

#cadastraButtonLabel {
    position: absolute;
    width: 123px;
    height: 14px;
    left: 16px;
    bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}

input {
    width: 100%;
    padding: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid white;
}

form input:focus {
    border: 1px solid #828282;
    outline: none;
}
