.content,
.content-header {
    margin-left: 2%;
}

#titleLabel {
    width: 289px;
    height: 60px;
    top: 77px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    display: flex;
    align-items: center;
    margin-left: 0.75%;
    color: #000000;
}

#subtitleLabel {
    width: 428px;
    height: 19px;
    top: 140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    margin-left: 0.75%;
    color: rgba(0, 0, 0, 0.6);
}

#boxInformacoes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 1%;
    width: 98%;
    height: wrap-content;
    top: 1%;
    background: #F2F2F2;
    border-radius: 4px;
    border: none;
}

#informacoesPessoais {
    width: 223px;
    height: 30px;
    top: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    align-items: center;
    color: #000000;
    /* Inside Auto Layout */
    margin-left: 0.5%;
    @media (max-width: 1480px) {
        margin-left: 1%;
    }
}

#obrigatorio {
    width: 142px;
    height: 16px;
    /* Subtitle 2 */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    opacity: 0.6;
    margin-left: 0.75%;
    margin-top: 0.5%;
}

#genero {
    margin-left: 0%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
}

.example-radio-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
    margin: 3px;
}

#inputNome {
    background: #FFFFFF;
    height: 56px;
    font-family: 'Roboto';
    width: 100%;
    box-sizing: border-box;
}

#inputRua {
    right: 0%;
    bottom: 0%;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputCidade {
    // top: 30px;
    bottom: 0%;
    margin-top: 3%;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputEstado {
    margin-top: 3%;
    bottom: 0%;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputTelefone {
    right: 0%;
    margin-top: 3%;
    bottom: 0%;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputNascimento {
    background: #FFFFFF;
    width: 100%;
    margin-top: 3%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputComplemento {
    right: 0%;
    margin-top: 1.5%;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputCpf {
    margin-top: 3%;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputEmail {
    margin-top: 3%;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputRg {
    margin-top: 3%;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#inputCep {
    right: 0%;
    bottom: 0%;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    font-family: 'Roboto';
}

#boxEstaticas {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 1%;
    width: 98%;
    height: wrap-content;
    top: 1%;
    background: #F2F2F2;
    border-radius: 4px;
    border: none;
}

#informacoesEstaticasLabel {
    width: 466px;
    height: 30px;
    margin-left: 10px;
    top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
}

#inputAltura {
    margin-top: 10px;
    margin-left: 2%;
    top: 55px;
    width: 98%;
    height: 56px;
    font-size: 14px;
    font-family: Roboto;
}

#diabetesDrop {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 56px;
    padding-left: 15px;
    background-color: white;
}

#fumanteDrop {
    display: flex;
    margin-top: 10px;
    width: 98%;
    height: 56px;
    background-color: white;
    padding-left: 15px;
}

#usoPrevioLabel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 94.5%;
    height: 40px;
    margin-top: 30px;
    margin-left: 2%;
    background: #FFFFFF;
    border-radius: 10px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
}

#usoPrevioLabelErros {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 94.5%;
    height: 40px;
    margin-top: 9px;
    margin-left: 2%;
    background: #FFFFFF;
    border-radius: 10px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
}

#avcToggleLabel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: flex-start;
}

#cadastraButton {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    width: 155px;
    height: 34px;
    position: absolute;
    right: 2.5%;
    margin-top: 15px;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#cadastraButtonLabel {
    position: absolute;
    width: 123px;
    height: 14px;
    left: 16px;
    bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
}

input {
    width: 100%;
    padding: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid white;
}

form input:focus {
    border: 1px solid #828282;
    outline: none;
}

.errorInput {
    border: 1px solid red;
    outline: none;
}

#modalText {
    position: static;
    left: 0%;
    right: 0%;
    bottom: 0%;
    /* Body 1 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    margin: 0px 8px;
}

#okbutton {
    height: 36px;
    width: 57px;
    padding: 10px 16px;
    left: 12%;
    margin-top: 15%;
    bottom: 0%;
    /* 700 */
    background: #245E33;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    /* Inside Auto Layout */
    margin: 16px 0px;
}

#oklabel {
    margin-bottom: 20px;
    width: 25px;
    height: 16px;
    left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
}

#titleModal {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #000000;
}

#errorLabel {
    font-size: 12px;
    margin-left: 2%;
    height: 13px;
    color: red;
    font-family: 'Roboto';
}

#labelBackground {
    margin-top: 1%;
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
    padding-left: 10px;
}

#buttonYesCom {
    width: 20%;
    height: 36px;
    left: 0px;
    top: 0px;
    background: #8CD9A1;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
    margin: 8px;
    float: right;
}

#buttonYesComLabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 10px;
    @media (max-width: 1532px) {
        font-size: 12px;
    }
}

#buttonNoCom {
    width: 20%;
    height: 36px;
    left: 99px;
    top: 0px;
    background: #DF9FAB;
    /* Button Shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    margin: 8px;
    float: right;
}

#buttonNoComLabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    /* Inside Auto Layout */
    margin: 10px;
    @media (max-width: 1532px) {
        font-size: 12px;
    }
}

#buttonYesCom.selectedYes {
    background: #245E33;
}

#buttonNoCom.selectedNo {
    background-color: #C32240;
}