<section class="content-header">
    <label id="titleLabel">Nova Farmácia</label>
    <label id="subtitleLabel">Preencha as informações abaixo para cadastrar uma nova farmácia</label>
    <label id="obrigatorio">*Campos obrigatórios</label>
</section>
<section class="content">
    <div class="box box-solid box-default" id="boxInformacoes">
        <label id="informacoesPessoais">Informações da Farmácia</label>
        <div class="row" style="margin-left: -0.5%;">
            <div class="col-md-12" style="width: 99.5%;">
                <input type="text" placeholder="Razão Social*" id="inputRazao" [(ngModel)]='razaoSocial' name="razaoSocial" #inputRazao="ngModel" [class.errorInput]="razaoSocial === undefined && checkEmpty" required>
                <label id="errorLabel" *ngIf="razaoSocial === undefined && checkEmpty">O campo Razão Social é obrigatório.</label>
            </div>
        </div>
        <div class="row" style="margin-left: -0.5%;">
            <div class="col-md-6" style="width: 49.5%;">
                <input type="text" placeholder="Nome Fantasia*" id="inputFantasia" [(ngModel)]="nomeFantasia" name="nomeFantasia" #inputFantasia="ngModel" [class.errorInput]="nomeFantasia === undefined && checkEmpty" required>
                <label id="errorLabel" *ngIf="nomeFantasia === undefined && checkEmpty">O campo Nome Fantasia é obrigatório</label>
            </div>
            <div class="col-md-6" style="width: 49.5%;margin-left: 0.5%;">
                <input type="text" placeholder="CNPJ*" mask="00.000.000/0000-00" id="inputCnpj" [(ngModel)]='cnpj' name="cnpj" #inputCnpj="ngModel" [class.errorInput]="(cnpj === undefined && checkEmpty) " required>
                <label id="errorLabel" *ngIf="(cnpj === undefined && checkEmpty) || (cnpj !== undefined &&cnpj.length < 14 && checkEmpty)">O campo CNPJ é obrigatório e deve ser composto por 14 números.</label>
            </div>
        </div>
        <div class="row" style="margin-left: -0.5%;">
            <div class="col-md-6" style="width: 49.5%;">
                <input type="email" placeholder="E-mail do Responsável*" id="inputEmail" [(ngModel)]='email' name="email" #inputEmail="ngModel" [class.errorInput]="email  === undefined && checkEmpty" required>
                <label id="errorLabel" *ngIf="email === undefined && checkEmpty">O campo E-mail é obrigatório</label>
            </div>
            <div class="col-md-6" style="width: 49.5%;margin-left: 0.5%;">
                <input type="text" placeholder="Telefone*" id="inputTelefone" mask="(00) 0000-0000" [(ngModel)]='telefone' name="telefone" #inputTelefone="ngModel" [class.errorInput]="telefone === undefined && checkEmpty" required>
                <label id="errorLabel" *ngIf="telefone === undefined && checkEmpty">O campo telefone é obrigatório</label>
            </div>
        </div>

    </div>
    <div class="box box-solid box-default" id="boxEstaticas">
        <label id="informacoesEstaticasLabel">Endereço</label>
        <div class='row' style="margin-left: -0.5%;">

            <div class="col-md-3">
                <input type="text" placeholder="CEP*" id="inputCep" [(ngModel)]="cep" name="cep" #inputCep="ngModel" required mask="00000-000" (keyup)="verificaCep(cep)" [class.errorInput]="(cep === undefined && checkEmpty) || (cep !== undefined && cep.length < 8 && checkEmpty)">
                <label id="errorLabel" *ngIf="(cep === undefined && checkEmpty) || (cep !== undefined && cep.length < 8 && checkEmpty)">CEP deve ser composto por 8 dígitos</label>
            </div>
            <div class="col-md-7" style="width: 57.5%;">
                <input type="text" placeholder="Logradouro*" id="inputRua" [(ngModel)]="rua" name="rua" #inputRua="ngModel" [class.errorInput]="(rua === undefined && checkEmpty) " required>
                <label id="errorLabel" *ngIf="(rua === undefined && checkEmpty)">O campo Logradouro é obrigatório</label>
            </div>
            <div class="col-md-2">
                <input type="text" placeholder="Número*" id="inputRua" [(ngModel)]="numero" name="numero" #inputRua="ngModel" [class.errorInput]="(numero === undefined && checkEmpty)" required>
                <label id="errorLabel" *ngIf="(rua === undefined && checkEmpty) || (numero === undefined && checkEmpty)">O campo Número é obrigatório</label>
            </div>
        </div>
        <div class="row" style="margin-left: -0.5%;">
            <div class="col-md-12" style="width: 99.5%;">
                <input type="text" placeholder="Complemento" id="inputComplemento" [(ngModel)]="complemento" name="complemento" #inputComplemento="ngModel">
            </div>
        </div>
        <div class="row" style="margin-left: -0.5%; margin-top: 1%;">
            <div class="col-md-4" style="width: 32.5%;">
                <input type="text" placeholder="Cidade*" id="inputCidade" [(ngModel)]="cidade" name="cidade" #inputCidade="ngModel" readonly="readonly" required>
                <!--[class.errorInput]="cidade === undefined && checkEmpty"-->
            </div>
            <div class="col-md-4" style="width: 33.5%;margin-left: 0.5%; margin-top: 0.25%;">
                <mat-form-field id="regioesDrop" [class.errorInput]="(macroregiao === undefined && checkEmpty)">
                    <mat-label style="width: 220%;">Macrorregião</mat-label>
                    <mat-select style="width: 220%;" id="inputRegiao" [(ngModel)]="macroregiao" name="macroRegioes" #inputRegiao="ngModel" required>
                        <mat-option *ngFor="let macroRegiao of macroRegioes" [value]="macroRegiao.value" style="width: 220%;">
                            {{macroRegiao.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <label id="errorLabel" *ngIf="(macroregiao === undefined && checkEmpty)">O campo Macrorregião é obrigatório</label>

            </div>
            <div class="col-md-4" style="width: 32.5%;margin-left: 0.5%;">
                <input type="text" placeholder="Estado*" id="inputEstado" [(ngModel)]="estado" name="estado" #inputEstado="ngModel" readonly="readonly" required>
                <!--[class.errorInput]="estado === undefined && checkEmpty"-->
            </div>
            <!-- <label id="errorLabel" *ngIf="(estado === undefined && checkEmpty) || (cidade === undefined && checkEmpty)">Todos os campos do Endereço são obrigatórios</label> -->
            <!-- <label id="errorLabel" *ngIf="">Todos os campos do Endereço são obrigatórios</label> -->
        </div>
        <!-- <div class="col-sm-6"> -->
        <!-- </div> -->


    </div>
    <button mat-button id="cadastraButton" data-toggle="modal" data-target="#okcidadao" class="pull-right" (click)="checkEmpt()"> <!--(click)="checkEmpt()"-->
      <label id="cadastraButtonLabel">REALIZAR CADASTRO</label></button>
    <div class="modal fade" id="okcidadao" *ngIf="valid && !errorBye">
        <div class="modal-dialog modal-md" id="myModal">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="titleModal">Sucesso!</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <label id="modalText">A farmácia {{nomeFantasia}} foi cadastra com sucesso!</label>
                    <button mat-button id="okbutton" data-dismiss="modal" #closebutton><label id="oklabel">OK</label></button>
                    <!--(click)="goToView()"-->
                </div>
            </div>
        </div>
    </div>
</section>
