#divtitle {
    display: inline-block;
}

.content-header {
    margin-left: 2%;
}

.content {
    margin-left: 1%;
}

.container {
    width: 100%;
}

#labelNome {
    /* Cidadãos */
    display: inline-block;
    width: fit-content;
    height: 60px;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

#divcpf {
    display: inline-block;
    width: 146px;
    height: 50px;
    margin-left: 16px;
    background: #F2F2F2;
    border-radius: 10px;
    /* Inside Auto Layout */
    flex: none;
}

#labelCpf {
    /* Heading 6 */
    width: 196px;
    height: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.6;
    /* Inside Auto Layout */
    align-self: center;
}

#labelVisualize {
    /* Visualize e busque cidadãos cadastrados no sistema */
    display: inline-block;
    width: fit-content;
    height: 19px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
}

table {
    width: 98%;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
}

.box-default {
    outline: none;
    box-shadow: none;
    border: none;
}

#box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 97%;
    height: wrap-content;
    left: 0px;
    background: #F2F2F2;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    margin-left: 1%;
}

#boxTwo {
    display: flex;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    margin-top: 3.5%;
    margin-left: 27.5%;
    background: #F2F2F2;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
}

#labelInfo {
    padding: 4px 0px 0px 8px;
    height: 32px;
    width: fit-content;
    background: #FFFFFF;
    border-radius: 10px;
    /* Inside Auto Layout */
    margin: 6px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
}

#normalText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

#titleText {
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
}

#mobileDiv {
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-top: 2.5%;
}

#labelText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.25px;
    /* 00. On Surface / Medium Emphasis */
    color: rgba(0, 0, 0, 0.6);
}

#medicoesBackground {
    padding: 4px 0px 0px 6px;
    background: #F2F2F2;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.25px;
    /* 00. On Surface / Medium Emphasis */
    color: rgba(0, 0, 0, 0.6);
    margin-left: 1.5%;
}

mat-card-title {
    font-size: 24px;
}

#hasmart {
    margin-left: 3%;
    padding-top: 1%;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.02em;
    color: #000000;
}

#hasmartMobile {
    margin-left: 4%;
    padding-top: 4%;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.02em;
    color: #000000;
}

#topMobile {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    width: 100%;
    left: 0px;
    background-color: #FFFFFF;
}
